[2014-12-11 03:43] theVKC opened #1 "ERRR_check_function should be merged into navigate_to_screen"
Because it should

[2015-01-12 20:23] CDPotter opened #7 "BUSI method"
Could we add an emreadscreen to check the new field on the BUSI panel?

[2015-01-12 20:23] CDPotter commented on #7
I have completed it.

[2015-01-13 01:43] theVKC opened #9 "Replace "write_editbox_in_case_note""
I think this will simplify some things:

* "Editbox" is too vague for many writers. It should be "variable".
* It should be clearer that it involves a bullet for writing.
* We should ALWAYS default to an indent of 6, so let's remove it as a variable.
* The old one will remain as a "redirect function", a function which just calls a new function for reverse compatibility. Then eventually, we just ge

[2015-01-20 21:10] #1 closed

[2015-01-20 21:10] #7 closed

[2015-01-21 01:36] #9 closed

[2015-02-07 00:26] theVKC opened #20 "Small bug in the new INSA autofill"
It's really not a super big deal, and it's actually a pretty easy fix, so I might take it tonight.

It is doing a peculiar thing with the household member numbers:

![2015-02-06 18_23_34-hcapp dialog part 2](https://cloud.githubusercontent.com/assets/5701751/6089744/761023a8-ae2d-11e4-9ad4-26c7823735d4.png)

It's also adding the name of the first INSA in to the second record. This is an easy fix (

[2015-02-10 14:16] lpshanley commented on #20
Let me know if you didn’t have a chance to get to this. I was working on my bathroom all weekend alongside it being my fiancés birthday and our anniversary lol. If you didn’t have a chance to look at it let me know and I’ll check it out over lunch.

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, February 06, 2015 6:26 PM
To: M

[2015-02-10 15:02] theVKC commented on #20
I didn't get a chance. Enjoy!

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you are not the inte

[2015-02-10 15:03] lpshanley commented on #20
Is there a small description of the issue on git?

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, February 10, 2015 9:02 AM
To: MN-Script-Team/BZS-FuncLib
Cc: Lucas Shanley
Subject: Re: [BZS-FuncLib] Small bug in the new INSA autofill (#20)

I didn't get a chance. Enjoy!

Caution: This e-mail and attached documents, if any, m

[2015-02-10 15:35] theVKC commented on #20
Just in this chain. I don't know exactly where the issue lies yet. If you don't have time today I'll take care of it this afternoon for sure. :)

[2015-02-10 16:36] lpshanley commented on #20
All done and committed. :)

[2015-02-10 16:37] lpshanley commented on #20
Problem solved Crisis averted. ☺

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, February 10, 2015 9:35 AM
To: MN-Script-Team/BZS-FuncLib
Cc: Lucas Shanley
Subject: Re: [BZS-FuncLib] Small bug in the new INSA autofill (#20)

Just in this chain. I don't know exactly where the issue lies yet. If you don't have time today I'll t

[2015-02-10 21:05] RobertFewins-Kalb opened #24 "Reading ABAWD Status"
A bug was reported by a worker in Anoka County. The variable "read_abawd_status" is making the following determination...
IF read_abawd_status = 10 OR read_abawd_status = 11 OR read_abawd_status = 13...

It is causing an error when the script encounters an ABAWD status = "__"

Do we want to turn those values for comparison into strings or demand that workers be updating ABAWD statuses?

[2015-02-10 21:07] RobertFewins-Kalb commented on #24
My vote is to demand that workers be updating ABAWD statuses and not leaving that value blank.

[2015-02-10 21:45] theVKC commented on #24
I get that, but I vote for converting it to a string. Once the CAF script starts yelling at you about stuff you didn’t do in MAXIS, it becomes an ACTIONS script more than a case note. Plus, I’m betting there’s some legitimate reasons why it wouldn’t necessarily be updated right away. Putting a “member 01 has no ABAWD status coded” string in should be enough for our users. I do think an ACTIONS scr

[2015-02-11 20:17] RobertFewins-Kalb opened #25 "simplify navigation functions"
Rather than have an EMWriteScreen "X", row, col and a transmit, how's about a custom function like this...

FUNCTION go_to(input_value, row, col)
     EMWriteScreen input_value, row, col
     transmit
END FUNCTION

[2015-02-11 21:25] theVKC commented on #25
I like the idea, but not calling it “go_to”. Any other ideas?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-kno

[2015-02-11 22:06] RobertFewins-Kalb commented on #25
enter_value_and_transmit

[2015-02-11 22:15] theVKC commented on #25
How about this: “enter_subscreen(x, y)”, and it always does the “x” and transmits?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a

[2015-02-11 22:16] RobertFewins-Kalb commented on #25
If we make it not “X” then it can be implemented in PRISM

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, February 11, 2015 4:15 PM
To: MN-Script-Team/BZS-FuncLib
Cc: Robert Kalb
Subject: Re: [BZS-FuncLib] simplify navigation functions (#25)

How about this: “enter_subscreen(x, y)”, and it always does the “x” and transmits?

Caution: This e-mail and attached documents,

[2015-02-11 22:25] theVKC commented on #25
That’s true… very true…

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you are not the intended r

[2015-02-27 17:04] CDPotter opened #26 "HH member array for 13+ members"
So it finally happened, a worker found a case that with 14 active HH members. As such the HH member array function left out memb 14. Is this something we should look at fixing?

[2015-03-02 16:05] theVKC commented on #26
Maybe, but there’s a lot of other bugs and enhancements that should be worked on first. I don’t like seeing that list pile up…

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standard

[2015-03-03 14:11] theVKC opened #28 "Script end procedure should have boolean for success!"

[2015-03-03 14:12] theVKC opened #29 "Script end procedure should disallow access to BlueZone while pop-up is up"
This would stop folks from leaving the script to run for ever.

[2015-03-10 13:25] courtrightd opened #31 "navigate_to_MAXIS_screen causing error on CAF script"
It is throwing a type mismatch navigate_to_MAXIS_screen error as soon as it attempts to go into stat (after clicking ok on the case number dialog)

[2015-03-10 13:44] theVKC commented on #31
Just pushed a fix. How about now @courtrightd?

[2015-03-10 14:11] courtrightd commented on #31
Fixed!  Thank you!

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, March 10, 2015 8:44 AM
To: MN-Script-Team/BZS-FuncLib
Cc: David Courtright
Subject: Re: [BZS-FuncLib] navigate_to_MAXIS_screen causing error on CAF script (#31)

Just pushed a fix. How about now @courtrightd<https://github.com/courtrightd>?

—
Reply to this email directly or view it on GitHub<https://gith

[2015-03-11 02:42] #31 closed

[2015-03-13 17:07] theVKC opened #34 "Need functions to write to claims notes"
Basically two functions similar to what we have for case notes, but for CCOL NOTE.

[2015-03-19 14:20] theVKC opened #38 "Autofill: should add checks for "if 0 of 0 panels skip this""
Duh. I can't believe I didn't think of that before.

[2015-03-20 23:59] #38 closed

[2015-03-21 00:00] #34 closed

[2015-03-23 03:08] theVKC opened #40 "run_from_GitHub should replace certain lines/functions"
I'm imagining this so far:

1. Removes Option Explicit, as we're running the new scripts effectively as parts of one continuous script, and you can't Option Explicit mid-script.
2. Removes DIM where DIM declares case_number (as that messes with other functions such as navigate_to_MAXIS_screen apparently).
3. Removes lines related to loading FuncLib, because if we've loaded it once before it should

[2015-04-02 22:41] theVKC opened #42 "Create new function for cancel_confirmation"
I've already got this one, testing it now. It'll replace the "are you sure you want to cancel?" dialogs.

[2015-04-02 22:43] theVKC opened #43 "Create new function for proceed_confirmation"
Again, I'm on this. It'd read "Are you sure you want to proceed? Press Yes to continue, No to return to the previous screen, and Cancel to end the script."

[2015-04-02 23:12] theVKC opened #44 "Create new function for update_client_delay"
Because that code on the CAF script is straight up complicated.

[2015-04-03 14:44] theVKC opened #45 "create new function for start_a_blank_case_note"
I'm trying to make it really, really easy for newbies. I'm also on it.

[2015-04-03 14:56] theVKC opened #46 "case note functions should trim to remove instances where the entire string is blank"
Basically, add to the part that says `IF variable <> ""` to have it trim the variable.

[2015-04-03 15:02] #46 closed

[2015-04-03 15:24] theVKC opened #48 "Combine stat_navigation and navigation_buttons into one function"
It should be possible, and would be much simpler for folks. I'll call it MAXIS_dialog_navigation. And I've mostly built it.

[2015-04-03 16:26] theVKC opened #49 "Create new function: create_MAXIS_friendly_date_with_YYYY"
Because it's time. On it.

[2015-04-03 16:48] #42 closed

[2015-04-03 16:48] #43 closed

[2015-04-03 16:48] #45 closed

[2015-04-03 16:48] #48 closed

[2015-04-03 16:48] #49 closed

[2015-04-06 21:39] theVKC opened #51 "Create custom function for determining if the footer month is current month + 1"
This would be helpful for many reasons. :)

@IlseFerris has this one in the hopper already.

[2015-04-07 23:50] theVKC commented on #25
@RobertFewins-Kalb, do you want this one?

[2015-04-07 23:51] theVKC commented on #24
Where did we land on this? Can I close this issue @RobertFewins-Kalb?

[2015-04-07 23:52] theVKC commented on #29
Probably not feasible at this time. The functionality for that apparently doesn't work with BZSH on VBScript, it requires the more robust HAO.

[2015-04-07 23:52] #29 closed

[2015-04-07 23:54] theVKC commented on #20
Hey @lpshanley, did we ever get this pushed? Can anyone out there check on this to see if it's working? @RobertFewins-Kalb? @CDPotter? @IlseFerris?

[2015-04-08 00:05] RobertFewins-Kalb commented on #20
I will add it to my Pressley scenario. I've been working the bugs out of each panel. I can add an INSA panel to the scenario.

[2015-04-08 00:22] RobertFewins-Kalb commented on #20
Sidebar: This got me looking at Krabappel. INSA needs work.

[2015-04-08 00:24] RobertFewins-Kalb commented on #24
Let's leave it open. I'd like to have @mldietz work on it as part of the upgrade where ABAWD and FSET codes are being read.

[2015-04-08 13:13] lpshanley commented on #20
Hmmm... I’m not sure. I know that I made the fix for it pushed it because you had tested it and sent me screen shots! Im not sure if this got merged forward to any of the released however.

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, April 07, 2015 6:55 PM
To

[2015-04-08 13:59] mldietz commented on #24
Sounds good to me

[2015-04-08 14:15] theVKC commented on #24
Woohoo! @mldietz, I'l add you to the FuncLib contributor group, and assign the task to you. Good luck, and let us know if you need anything!

[2015-04-08 14:16] theVKC commented on #26
Hey @CDPotter, did you want to work on this?

[2015-04-08 14:17] theVKC commented on #20
Any chance you can peruse the code and tell me if you think we took it?

[2015-04-08 14:18] lpshanley commented on #20
Yea on my break at 10 I’ll have a look-see ☺

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, April 08, 2015 9:18 AM
To: MN-Script-Team/BZS-FuncLib
Cc: Lucas Shanley
Subject: Re: [BZS-FuncLib] Small bug in the new INSA autofill (#20)

Any chance you can peruse

[2015-04-08 16:30] CDPotter commented on #26
Sure, I can work on it between things.

[2015-04-09 13:34] CDPotter commented on #26
Hopefully there are others who see this. While trying to tackle this we think we found a clunky solution to grabbing all the membs. The issue arose with the lawlessness of the reference numbers and how they react to pf8ing. (see fake case 219585) When you pf8 it fills in the as many new reference numbers as it can so it you have 30 people the first screen is 1-13, pf8, 14-16, pf8, 18-30. Otherwise

[2015-04-09 14:46] theVKC commented on #26
You can do the 30 unique variables with an array like this (paraphrasing):
[code]

Then, array(0) will have the first person, array(1) the second, etc..

Frankly (my opinion), not sure if it's worth losing sleep over. It's a rare occurrence and I'd probably settle for a message telling the worker that it only grabbed info for membs 1-13 for the time being. But, it might be as simple as creating th

[2015-04-09 14:48] theVKC commented on #26
I've also found, when resizing dynamic dialogs, using UBound on that array helps. So something like `dialog_height = UBound(array) * 30`.

[2015-04-17 20:10] theVKC opened #63 "Create function: MAXIS_footer_month_finder"
@IlseFerris has this one in the hopper. Pretty straight forward: searches MAXIS for a footer month, enters it into the footer_month and footer_year variables.

[2015-04-27 18:26] theVKC opened #64 "write_variable_in_TIKL function has an issue"
Here's the issue: it basically breaks on line 4 of the TIKL because this line:

`IF right(tikl_line_four) <> " " THEN tikl_line_four_len = tikl_line_four_len - 1`

is missing a parameter in the "right" command.

@RobertFewins-Kalb, did you build this? Assuming you did, can you add comments as well for this function?

[2015-04-27 18:40] #20 closed

[2015-04-27 18:42] theVKC commented on #44
I'm closing this as less necessary for now. Can re-evaluate later.

[2015-04-27 18:42] #44 closed

[2015-04-27 22:54] theVKC commented on #26
Resolved with #66.

[2015-04-27 22:54] #26 closed

[2015-04-27 22:55] theVKC commented on #24
@mldietz pushed this with #61.

[2015-04-27 22:55] #24 closed

[2015-04-27 22:56] theVKC commented on #25
@RobertFewins-Kalb, bumping again. Did you not add something to PRISM for this that would work?

[2015-04-28 13:47] RobertFewins-Kalb commented on #25
Yes! The function "write_value_and_transmit(variable, row, column)" EMWrites a value at the inputted coordinates and transmits. I can submit a new function to the FuncLib...
Sorry...I've been trying to get to my github homework done.

[2015-04-29 20:30] #25 closed

[2015-05-24 01:59] theVKC opened #71 "Add msgbox warning scriptwriters to depreciated functions"
Post Doubtfire of course. :)
---
- [x] ERRR_screen_check
- [ ] maxis_check_function
- [ ] navigate_to_screen
- [ ] write_editbox_in_case_note
- [ ] write_new_line_in_case_note
- [ ] write_new_line_in_SPEC_MEMO
- [ ] worker_county_code_determination
- [ ] write_TIKL_function

[2015-05-31 16:53] IlseFerris opened #73 "MFIP/DWP FIATer for child support disregard"
needed for new policy effective 07/01/15 @CDPotter, @theVKC

[2015-05-31 16:54] IlseFerris opened #74 "approved programs update for MFIP housing grant and child support disregard"
I've got this

[2015-05-31 16:54] #74 closed

[2015-05-31 16:55] #73 closed

[2015-06-03 00:09] theVKC commented on #40
I believe I've fixed 3, because it's now included in the FuncLib call itself. On to 1 and 2.

[2015-06-03 00:34] theVKC commented on #40
OK, I think this is donezo with pull #76.

[2015-06-03 00:34] #40 closed

[2015-06-03 00:35] theVKC commented on #64
Taking this on to fix it and remove one more bug.

[2015-06-03 01:09] #64 closed

[2015-06-15 15:07] CDPotter opened #88 "CAF Script/func file DCEX read"
Currently the autofill editbox for DCEX only looks at the first panel. This would mean that any case with multiple DCEX panels have not been getting the 2nd (or more) panels case noted when using this function. I can update the logic in the functions file.

[2015-06-15 19:26] CDPotter opened #89 "Autofil from FACI"
Had a request from a worker to include date in/out info from a faci panel in case notes. It looks like it already reads the dates on there so it shouldn't be tough to write the date in the variable.

[2015-06-17 19:05] IlseFerris opened #91 "New fucntion idea: ‘Excel list from MAXIS’ function"
Same coding used in all scripts that use excel list.

@RobertFewins-Kalb, you got this?

[2015-06-17 23:53] RobertFewins-Kalb opened #92 "Check for Duplicate Custom Functions in MAXIS and PRISM FuncLib"
There was a problem with the Anoka County PRISM scripts BETA main menu. The custom function "run_another_script" was located in both FuncLibs. We need to find and eradicate all duplicate custom functions to eliminate critical errors.

[2015-06-17 23:55] RobertFewins-Kalb commented on #92
I have already removed "run_another_script" from the PRISM FuncLib

[2015-06-29 16:03] theVKC opened #93 "Create a custom function for associating PMIs with HH member numbers"
I want a function for this, not because it isn't easy, but because Ramsey has a unique challenge in that their PMIs contain underscores on MEMB. Rather than work that logic to replace the underscores EVERY TIME, I figure a custom function for associating HH member numbers and PMIs would be helpful.

[2015-06-29 22:15] #88 closed

[2015-06-29 22:16] theVKC commented on #92
I think it's time we just take all of them and create a single file. This shouldn't be controversial, and would obviously help all scriptwriters with each others' work.

[2015-06-29 22:19] #89 closed

[2015-06-30 14:38] CDPotter opened #95 "Update start a blank case note"
Current start a blank case note function dumps you out of you're in inquiry. This has been causing some concern among workers including myself who write large CAF notes then find out I navigated to inquiry mid note and now have lost all that writing. I plan to update it to include a loop similar to client contact which allows the worker to navigate back to production and continue.

[2015-06-30 14:43] theVKC commented on #95
Great call!

[2015-06-30 14:44] #95 closed

[2015-06-30 20:42] theVKC opened #99 "Update write_variable_in_SPEC_MEMO to use better handling like CASE_NOTE"
I am seeing errors. I've got this one.

[2015-06-30 21:14] #99 closed

[2015-07-02 20:20] theVKC commented on #63
#102 does this. Booyah!

[2015-07-02 20:20] #63 closed

[2015-07-13 18:22] IlseFerris opened #106 "Operation Doubtfire extension: replace old functions"
Looks like some functions contain some of the older functions as well.  I can update FuncLib as well.

VKC update 05/10/2016: here are the functions to be searched for and replaced:
- [x] ERRR_screen_check
- [x] maxis_check_function
- [x] navigate_to_screen
- [x] write_editbox_in_case_note
- [x] write_new_line_in_case_note
- [x] write_new_line_in_SPEC_MEMO
- [x] worker_county_code_determination
-

[2015-07-20 13:52] theVKC opened #108 "Remove letter parameters from all functions, replace with friendlier variable names"
@RobertFewins-Kalb has volunteered to take this on.

[2015-07-20 13:53] theVKC commented on #106
Thanks @IlseFerris!

[2015-07-28 19:38] RobertFewins-Kalb commented on #108
There's not a lot that needs doing. It shall be finished today.

[2015-07-28 22:01] RobertFewins-Kalb commented on #108
Done

[2015-07-30 21:53] CDPotter commented on #28
Also resolved in https://gist.github.com/CDPotter/48bd69e099e20ed5bfcb

[2015-08-13 18:24] courtrightd opened #115 "New function to update the ES Provider database"
This function will check the database for an existing entry with matching HH Member and case, and update it as needed, or add a new entry if there isn't an existing one.  Tested and working here in SLC, adding to main functions library in preparation for integrating into future scripts.

[2015-08-14 15:36] IlseFerris opened #117 "call autofill_editbox_from_MAXIS(HH_member_array, "SWKR", SWKR) does not exist."
call autofill_editbox_from_MAXIS(HH_member_array, "SWKR", SWKR) does not exist. Would be nice if it did.

[2015-08-21 16:47] RobertFewins-Kalb opened #118 "FUNCTION write_panel_to_MAXIS_ABPS needs revision"
*The function does not appear to be creating ABPS panels.
*The function calls the out-of-date "create_panel_if_nonexistent" and "MAXIS_dater" functions.
*The function includes a msgbox (prohibiting rapid fire case appling)

[2015-08-21 16:51] RobertFewins-Kalb commented on #118
I'm looking into re-ordering the functions in Krabappel to make sure things are 100% shiny.

[2015-08-21 16:59] RobertFewins-Kalb commented on #118
This is a Krabappel issue

[2015-08-21 16:59] #118 closed

[2015-08-31 16:16] #115 closed

[2015-09-04 14:35] RobertFewins-Kalb opened #124 "FUNCTION write_panel_to_MAXIS_SHEL not writing prospective mortgage amt verif code"
fix submitted already (the code was just not in there)

[2015-09-18 12:19] IlseFerris commented on #92
You can assign this to me

[2015-09-18 12:20] IlseFerris commented on #108
Can this be closed?

[2015-09-18 12:47] RobertFewins-Kalb commented on #92
This is probably already done

Sent from my iPhone

On Sep 18, 2015, at 7:19 AM, Ilse Ferris <notifications@github.com<mailto:notifications@github.com>> wrote:

You can assign this to me

-
Reply to this email directly or view it on GitHub<https://github.com/MN-Script-Team/BZS-FuncLib/issues/92#issuecomment-141434509>.

Click here<https://www.mailcontrol.com/sr/mYly9ePJYKXGX2PQPOmvUtXHXnVjuGgHZqTX

[2015-09-18 13:37] RobertFewins-Kalb commented on #108
Yes. Job done.

[2015-09-18 21:29] IlseFerris commented on #92
Even better :)

[2015-10-01 20:36] CDPotter opened #125 "MAXIS footer finder function issue"
The find_variable if returning a string which when compared using isnumeric is giving a false triggering the function to default to current month.

[2015-10-01 21:29] CDPotter commented on #125
I'm also concerned that the output is getting used incorrectly, I've notices scripts using MAXIS_footer_month after this function why does it assign value to footer_month and footer_year in the first IF but not the 2nd?

[2015-10-02 12:16] CDPotter opened #127 "BUG - BUSI function not working properly."
The logic is backwards for one bit, and the other bit prevents anything from being written if the footer_month (which has mostly been removed from scripts) doesn't match CM+1.

[2015-10-02 15:17] theVKC commented on #125
@IlseFerris, have you had a chance to look at this issue at all? I know that you did some work here at one point. I'm curious to know your thoughts on the subject.

[2015-10-02 15:25] IlseFerris commented on #125
I haven't yet, and I won't have time to dive in this week.  SNAP stuff has taken over my life.

[2015-10-02 15:34] CDPotter commented on #125
@RobertFewins-Kalb and I also noticed that the exiting variables in the function were MAXIS_footer_month and MAXIS_footer_year, however in the first IF statement footer_month and footer_year were being defined. We are worried that there might be some confusion between which variables to use and pull through and some scripts having mixtures of footer_month and MAXIS_footer_month.

[2015-10-02 16:16] theVKC commented on #125
I think we should move towards `MAXIS_footer_month` as part of the whole "No Mainframe Left Behind" approach, but I'm open to suggestions.

[2015-10-02 16:16] RobertFewins-Kalb commented on #125
But footer month is only relevant in maxis.

[2015-10-02 16:19] theVKC commented on #125
Hmmmm... well, if you want to change it, be my guest.

[2015-10-02 16:21] CDPotter commented on #125
I don't know if we need to change everything back but I guess we just need to be more vigilant when revising scripts. It seems like the change wasn't completely thorough as there are still instances of footer_month being used in the same scripts as MAXIS_footer_month (like this function currently does.)

[2015-10-12 19:43] Y-Lor-Y opened #133 "Elig_GRH not listed in the MAXIS_dialog within the function lib."
I'm trying to fix the NOTES - HRF - GRH.  It has a press button navigation for GRH, but it was mapped to ELIG_MFIP.  Changed that to ELIG_GRH.  The navigation for MAXIS dialog Elig_GRH is not within, so this may not be fix for the NOTES script until this is done.

[2015-10-13 21:10] RobertFewins-Kalb opened #135 "write_panel_to_MAXIS_SHEL now misoriented"
It looks like we are now off by 4 columns...how long has "Subsidized (Y/N)" been "HUD Subsidized (Y/N)" ?!?

[2015-10-16 16:43] C-Love opened #136 "Bug on navigate_to_MAXIS_screen when in Program History"
If this function is run from program history and it is trying to go to something else in the 'CASE' function - such as CASE/NOTE - The Command line is not editable and the script thinks the worker is in Inquiry.
Looks like CASE/MNCV has the same issue (but I didn't even know that area existed so not sure how much that matters).

We could write something to check for 'Program History' and PF3 befor

[2015-10-26 15:40] #133 closed

[2015-10-26 17:11] #124 closed

[2015-10-26 17:11] theVKC commented on #125
Resolved with #126.

[2015-10-26 17:11] #125 closed

[2015-10-26 17:12] theVKC commented on #127
Resolved by #128.

[2015-10-26 17:12] #127 closed

[2015-10-26 17:12] theVKC commented on #135
@RobertFewins-Kalb, did we fix this ever?

[2015-10-26 17:13] theVKC commented on #136
@C-Love has this, but as she hasn't contributed to FuncLib yet, I can't assign it to her directly.

[2015-10-26 17:17] RobertFewins-Kalb commented on #135
I have a fix waiting. I didn't want to overload the number of FuncLib pull requests b/c merge conflicts. I will submit a pull request with all the updates we have made for Krabappel.

[2015-10-28 16:47] theVKC commented on #117
Want this @IlseFerris? If not, I think I need to close it due to lack of interest.

[2015-10-28 16:48] theVKC commented on #135
FuncLib is all cleaned up pull-request wise. Go nuts!

[2015-10-28 16:48] #108 closed

[2015-10-28 16:49] IlseFerris commented on #117
Yes I'll take this

[2015-10-28 16:49] theVKC commented on #106
@IlseFerris, can I bump this? If you won't have time, I will mark it as help wanted or try and knock it out myself.

[2015-10-28 16:50] theVKC commented on #93
Closing due to lack of interest.

[2015-10-28 16:50] #93 closed

[2015-10-28 16:50] #92 closed

[2015-10-28 16:50] theVKC commented on #91
@RobertFewins-Kalb, any progress? No worries if not. @IlseFerris, if you and Robert don't think it's vital, I'm going to close the issue.

[2015-10-28 16:51] theVKC commented on #71
This will require #106 to be completed first.

[2015-10-28 16:51] theVKC commented on #51
@IlseFerris, remind me: did this happen?

[2015-10-28 16:57] IlseFerris commented on #91
If @RobertFewins-Kalb can't take it, maybe @CDPotter or @courtrightd, otherwise let's close this

[2015-10-28 17:05] theVKC commented on #28
I'm closing this issue since @CDPotter resolved it but implementation is on hold.

[2015-10-28 17:05] #28 closed

[2015-10-28 19:40] theVKC commented on #91
[waits patiently for @RobertFewins-Kalb to get through his GitHub email for the day]

[2015-10-28 19:41] RobertFewins-Kalb commented on #91
It takes a while...

[2015-10-28 19:42] RobertFewins-Kalb commented on #91
I'm not familiar with the background on this function, but I could whip something up.

[2015-10-28 19:44] RobertFewins-Kalb commented on #91
@IlseFerris , could you provide some more input as to what you are looking for?

[2015-10-28 20:48] IlseFerris commented on #91
I'm pretty sure it was just this:
'OPENS A NEW EXCEL SPREADSHEET
Set objExcel = CreateObject("Excel.Application")
objExcel.Visible = True
Set objWorkbook = objExcel.Workbooks.Add()

I think this was one of those "Hey Ilse, throw this issue up on GitHub" and we forgot about it.  If this isn't it, we can close the issue. @RobertFewins-Kalb care to throw in your two cents?

[2015-10-28 20:50] theVKC commented on #91
I was thinking `CALL create_Excel_list_from_MAXIS("ACTV")`. Thoughts?

[2015-10-28 20:57] IlseFerris commented on #91
Sounds good to me.

[2015-10-28 21:00] theVKC commented on #91
@RobertFewins-Kalb?

[2015-10-28 21:09] IlseFerris commented on #91
If this is all that is to it, I can get this done.  Like actually do it, not just say I'm going to do it, and then do a thousand other things (my bad).

[2015-10-28 21:16] IlseFerris commented on #51
I don't think it did. Can you remind me what you wanted for this?  It's been about 6 months (yikes!)

[2015-10-28 21:20] theVKC commented on #91
I think it's actually pretty complicated. I'm wondering if @RobertFewins-Kalb has anything on it.

[2015-10-28 21:20] theVKC commented on #51
I don't remember, let's close it.

[2015-10-28 21:20] #51 closed

[2015-10-28 21:24] IlseFerris commented on #51
works for me!

[2015-10-28 21:52] IlseFerris commented on #106
We take these couple of issue on together, eh?

[2015-10-28 22:01] theVKC commented on #106
Let's do it.

[2015-10-29 18:08] theVKC opened #141 "Idea: custom function which displays results of all inputs in a dialog"
So, if your dialog is:

![image](https://cloud.githubusercontent.com/assets/5701751/10826899/ee4c4d10-7e39-11e5-899f-bf78bb03df8f.png)

Then it creates a MsgBox, like so:

![image](https://cloud.githubusercontent.com/assets/5701751/10827407/cac6ef14-7e3c-11e5-9411-0647827d07f0.png)

I figure this could be useful for debugging, user confirmation, etc. I'm thinking we can do it with arrays. Any thou

[2015-10-29 18:09] theVKC commented on #141
Also, thinking this might be fun with dynamic dialogs. Classes maybe?

[2015-11-02 21:07] #136 closed

[2015-11-10 17:39] theVKC commented on #106
Can I bump this @IlseFerris? I want to get rid of the depreciated functions before the end of the year, ideally this month.

[2015-11-10 17:39] theVKC commented on #135
@RobertFewins-Kalb any update?

[2015-11-10 17:40] theVKC commented on #141
@MN-Script-Team/functions-library-contributors, any thoughts on this? Feedback is needed, folks!

[2015-11-10 17:40] theVKC commented on #117
Any update @IlseFerris? I can take it if you'd like.

[2015-11-10 17:41] theVKC commented on #91
@RobertFewins-Kalb, haven't heard from you on this yet.

[2015-11-10 17:42] lpshanley commented on #141
Dialog or text field?

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, November 10, 2015 11:40 AM
To: MN-Script-Team/BZS-FuncLib
Cc: Lucas Shanley
Subject: Re: [BZS-FuncLib] Idea: custom function which displays results of all inputs in a dialog (#141)

@MN-Script

[2015-11-10 17:43] RobertFewins-Kalb commented on #135
Fixed

[2015-11-10 17:43] #135 closed

[2015-11-10 17:44] theVKC commented on #141
I'm thinking a MsgBox.

[2015-11-10 17:45] theVKC commented on #135
When? Any idea what pull request it was? (This is why we need to tag issues in pull requests.)

[2015-11-10 17:46] RobertFewins-Kalb commented on #135
15 days ago

[2015-11-10 17:53] Y-Lor-Y commented on #141
My thought on this:
1) We already have safety loop build into some area - how will these be impacted?
2) I can see where this is heading with the changes coming to the CAF script and chaining scripts, this might be a great idea for that.
3) double check input values and decrease error(s)

It'll be great for stand alone dialogs that are simple or common or short, but might be 'time' consuming for b

[2015-11-10 18:00] theVKC commented on #91
I'll take it

[2015-11-10 18:01] theVKC commented on #141
My thought would be it would be far more valuable to scriptwriters than script users. It's a good thing for developer modes and testing.

[2015-11-10 18:02] theVKC commented on #135
Thanks for linking back to it!

[2015-11-10 18:04] CDPotter commented on #141
Oh I was thinking it would be moreso for end users rather than script writers using this. If it was to be employed on end users I think it would HAVE to be optional(checkbox to display preview). As for replacing manually coding developer mode. I don't think it's that needed. I like having the control over what displays for my developer mode.

[2015-11-10 18:13] IlseFerris commented on #141
I see value in both. Especially for users when using action scripts, and other complicated scripts.

[2015-11-10 18:15] IlseFerris commented on #117
I made a commit directly into the file a few days ago. I wasn't 100% on how to test this though.

[2015-11-10 18:18] IlseFerris opened #145 "Remove call create_panel_if_nonexistent from FuncLib"
This function has been removed from all scripts. Needs to now be removed from the FuncLib itself. I can take this one.

[2015-11-10 19:06] theVKC commented on #106
Next week?

[2015-11-10 19:08] theVKC commented on #141
I get sick of trying to figure out what's in my variables when debugging. This goes hand-in-hand with developer mode, in my opinion. But, the underlying code could also be used for "are you sure" type dialogs, hence why I like it.

[2015-11-10 19:08] theVKC commented on #117
Set to Run Locally and test it?

[2015-11-10 19:55] lpshanley commented on #141
I think this has a nice array of uses and in addition to what has already been stated, I apologize is this was previously stated, but if programmed correctly these could be layered into an array or object in some form so that when you chain once script to another similar variables could carry over from script to script while its being run in the same instance so that it would even cut down on the

[2015-11-10 21:06] theVKC commented on #141
Even a function to create a MsgBox out of a two-dimensional array (displaying both columns) could be a good start. :)

[2015-11-10 22:33] C-Love commented on #141
I think it would be helpful with script writing.

But it would also be beneficial as a double check for those scripts that have small but vital dialogs to kick things off - like the CAF script (as it exists now and in the Gorbochov form) where having the right case number and footer month is pretty vital. It gives the workers a chance to double check it.

[2015-11-11 01:43] theVKC commented on #141
I'm taking it. Thanks for the feedback all. :)

I'm going to start with a simple function that can generate a MsgBox based on an array. We'll expand from there.

[2015-11-12 17:50] IlseFerris commented on #106
Sounds good to me, let's get something on the books

[2015-11-13 20:41] theVKC opened #146 "check_for_MAXIS has a problem on v6+ of BlueZone"
Basically, it passwords out, but the MsgBox blocks the worker from entering data into BlueZone (it freezes up all entry into the window, and defaults the focus back to the MsgBox). This is making it really hard to save information from long scripts, because people are getting locked out, pressing "cancel" (because they can't get into MAXIS to type their password back in), and then losing their har

[2015-11-13 20:58] #146 closed

[2015-11-13 21:00] theVKC commented on #146
Nice job @MelissaFox-Stearns!

[2015-11-13 21:21] theVKC opened #148 "MAXIS_case_number_finder needs logic for finding case on SELF menu"
There are instances, as reported by @StormageddonDLOA, where a worker enters a case number into SELF and presses the button, then enters an incorrect case number into the case number dialog, which causes issues.

Tim has fixed the problem by modifying the function to have special logic for finding a case number on SELF. Pull request imminent.

[2015-11-13 22:31] #148 closed

[2015-11-30 15:49] theVKC opened #152 "Idea to consider: forcing anyone using beta branch onto release"
This could help stragglers who are still trying to use the beta. I'll try testing it locally before deploying it.

[2015-12-07 17:46] RobertFewins-Kalb opened #153 "VBscript cannot really sort numeric arrays..."
Hows about a custom function to do that?

[2015-12-07 17:48] theVKC commented on #153
Yes + yes + (1000 * yes)

[2015-12-08 14:42] RobertFewins-Kalb commented on #153
resolved by #154

[2015-12-08 21:12] theVKC commented on #153
@RobertFewins-Kalb: please don't close issues if there's a pending pull request out there. I use that for tracking for release notes. :)

[2015-12-08 21:13] #153 closed

[2015-12-14 17:16] IlseFerris opened #156 "STAT SPON navigation button needs to exist"
It doesn't, and this is a button on ABAWD banked months FIATer

[2015-12-15 17:56] #156 closed

[2015-12-15 20:03] theVKC commented on #152
No, I'm just going to delete it soon. I think we already got everyone.

[2015-12-15 20:03] #152 closed

[2016-01-07 17:36] theVKC opened #159 "Modify script_end_procedure to add new statistics info"
On it! :)

[2016-01-07 17:54] theVKC commented on #159
New info to add:

* STATS_counter
* STATS_manualtime
* STATS_denomination
* worker_county_code

[2016-01-07 17:55] theVKC commented on #159
And, it should only add it if `STATS_enhanced_db = TRUE`

[2016-01-07 20:00] theVKC commented on #159
Also needs to add `script_success` and determine it programmatically.

[2016-01-07 21:16] #159 closed

[2016-01-14 17:18] theVKC opened #163 "Create function to display MAIN MENU dialog from a simple list"
Scriptwriters are struggling with maintaining the existing dialog. My solution:
1. Create an array of all the different NOTES scripts (multidimensional, with 0 being the name, 1 being the description, 2 being the URL).
2. A function can take that array and through magic or sorcery turn it into a dialog.

If anyone feels up to an engineering challenge, I'll mark this as help wanted. But I'm hoping

[2016-01-15 15:20] C-Love commented on #163
I am thinking the sorcery would include additional dimensions to the array that inform the sizes of the dialog. This seems like it would solve some of our dimming issues.

I have not done much with building functions but I would like a shot at this.

[2016-01-15 16:18] theVKC commented on #163
It's yours!

I think we can dynamically determine the appropriate size of the dialog using math. Something like `dialog_size = x * 15` where `x` is the ubound of the array?

[2016-01-19 02:55] theVKC opened #164 "README should probably explain how to use FuncLib? Maybe?"

[2016-01-19 19:31] theVKC opened #165 "FuncLib needs to take the worker_county_code and determine the county_name from that"
Because it's poor planning to have two fields. Basically, I want scriptwriters to be able to work with scripts without Anoka stuff popping up all the time each time they sync to master.

So, it'll look something like this:

[code]

Except it'll include more counties. I'm thinking this can easily go in worker_county_code_determination. I'll also have to scan each script for county_name (and make su

[2016-01-20 01:26] theVKC opened #166 "Idea: if worker_county_code = "" then worker_county_code_determination asks you?"
Does it do that?

Shouldn't it? Wouldn't that solve issues stemming from scriptwriters working on stuff?

I will investigate.

[2016-01-22 01:43] theVKC opened #167 "Replace end_excel_and_script with script_end_procedure just determining if Excel is open and closing it"
Here's what I'm envisioning (not real code): `If objExcel.visible = false and ObjExcel = a thing then close Excel`

Anyone want to try it? I want to get it done before CSES scrubber goes live.

[2016-01-22 02:20] theVKC opened #168 "Create CM_plus_1_mo and CM_plus_1_yr variables in FuncLib for easy deployment"
This is getting annoying to keep figuring out all the time

[2016-01-22 02:33] #168 closed

[2016-01-24 23:31] theVKC opened #170 "Remove BETA access blocking, it is depreciated"
This is that last part at the end. On it. I want to test a new linter, anyway.

[2016-01-24 23:35] #170 closed

[2016-01-28 23:20] CDPotter opened #172 "HC income estimator only being read in CM+1"
We have heard some suggestions to change the function so that the scripts don't grab out of date HC income estimator amounts. For example:

You get a late HC renewal, you're processing it and cannot update the income estimate in any other month than CM+1 as such when the script is run for 01/16 it grabs the old HC income estimator.

Thoughts?

[2016-01-28 23:28] IlseFerris commented on #172
Makes sense to me.

[2016-01-29 16:55] theVKC commented on #172
Hmmm. Thought it already did this. Maybe I imagined that.

Should it _always_ go into CM+1, or only read the HC amount if you're already in CM+1 (I lean toward the latter but am open to suggestions)

[2016-01-29 17:01] CDPotter commented on #172
I'd say the later, you can only really trust the info from CM+1 in there.

[2016-02-01 20:49] IlseFerris opened #173 "Function to check & navigate to selected MAXIS footer month/year"
I got this!

[2016-02-01 20:52] theVKC commented on #91
It's unlikely I can do this this month. Marking as help wanted.

[2016-02-01 20:58] theVKC commented on #172
@CDPotter: did you want this?

[2016-02-01 20:59] theVKC commented on #172
Marked this for the next release, I'd like it done (or removed) by the 16th. :)

[2016-02-01 21:01] theVKC commented on #141
I haven't had time for this. I'll mark it as help wanted for now, if nobody wants it at hackathon next Monday I'll close it.

[2016-02-01 21:02] CDPotter commented on #172
I can take it

[2016-02-01 21:03] theVKC commented on #71
Sounds like @IlseFerris and I might be working on this at hackathon Monday. Yay!

[2016-02-01 21:03] theVKC commented on #145
We decided to let this go, as it's only used within functions.

[2016-02-01 21:03] #145 closed

[2016-02-01 21:04] theVKC commented on #172
Thank you @CDPotter!

[2016-02-01 21:05] theVKC commented on #91
If nobody takes this before hackathon Monday, I will clear it.

[2016-02-01 21:09] theVKC commented on #163
Per @C-Love: I'm taking this one for her.

[2016-02-03 18:56] theVKC opened #174 "Probably don't need the FuncLib block in here anymore"
...it's outdated anyway.

[2016-02-03 19:27] theVKC opened #175 "We have CM_plus_1_mo/yr, what about CM_mo/yr?"
Wouldn't that help? On it.

[2016-02-03 20:00] #174 closed

[2016-02-03 20:00] #175 closed

[2016-02-04 16:31] CDPotter commented on #172
Welp I look like a dummy... Same case with the JOBS panel. I've emailed the group that suggested the issue to let them know it isn't an issue. This can be closed.
![2016-02-04 10_29_49-mozilla firefox](https://cloud.githubusercontent.com/assets/7841989/12821751/5aa0f730-cb2a-11e5-83a0-463a2737d06f.png)

[2016-02-04 17:15] #172 closed

[2016-02-04 17:15] theVKC commented on #172
Thanks for catching that!

[2016-02-04 22:02] C-Love opened #177 "Update write_panel_to_MAXIS_IMIG for Krabapple"
There are new arguments in the script that need to be told what to do.

[2016-02-08 20:32] #117 closed

[2016-02-08 20:38] #177 closed

[2016-02-08 20:41] #91 closed

[2016-02-08 20:42] #141 closed

[2016-02-10 16:05] IlseFerris opened #181 "Several functions not in alphabetical order in the FuncLib"
Submitting a pull to update this momentarily

[2016-02-10 16:06] IlseFerris opened #182 "check_for_MMIS function needs to be added to FuncLib"
It just lives in the MHC enrollment script stored locally. This could be useful as more MMIS scripts could be on the horizon.

[2016-02-10 16:48] theVKC commented on #182
Is this coming shortly? Also, do any other MAXIS scripts use check_for_MMIS? Thinking we should do a Ctrl-F check on all scripts just to be safe. Seems other scripts might use local functions which could conflict with this one...

[2016-02-10 17:01] IlseFerris commented on #182
I just checked all the state supported scripts that are in master, and none of the scripts use this function.

[2016-02-10 17:03] theVKC commented on #182
Fantastic. Thank you!!!!!

[2016-02-10 17:05] IlseFerris commented on #182
You're welcome :)

[2016-02-11 03:37] #173 closed

[2016-02-11 03:37] #181 closed

[2016-02-11 03:37] #182 closed

[2016-02-12 19:49] CDPotter opened #184 "New standard for case_number/footer_month etc"
We should take time to discuss a new standard for case_number in the form of MAXIS_case_number. We need to evaluate feasibility of this. (tabled for 2/22/16 hackathon)

VKC update 05/10/2016:

The following are the things I'll be updating ASAP:

- [x] `case_number` => `MAXIS_case_number`
- [x] `footer_year` => `MAXIS_footer_year`
- [x] `footer_month` => `MAXIS_footer_month`
- [x] `PMI` => `MAXIS_P

[2016-02-12 19:54] theVKC commented on #184
Also replacing instances of `footer_month` and `footer_year` with `MAXIS_footer_month` and `MAXIS_footer_year`. I'd be interested to hear from PRISM scriptwriters on this too. Aligning things seems logical.

[2016-02-12 20:47] RobertFewins-Kalb commented on #184
PRISM_footer_month does not exist.

Going with MAXIS_case_number and PRISM_case_number makes sense, but other than that, I'm not seeing any overlap that would justify going through and redefining MAXIS_ and PRISM_

[2016-02-12 20:57] theVKC commented on #184
Oooh! I have one! In many internal data points, we refer to it as "MAXIS footer month". I've also heard quite a few counties do that.

I also believe Data Warehouse alternates between using "MAXIS footer month" and "Benefit Period" depending on the model or the definition. I see merit in differentiating between something MAXIS-specific as well if we are looking both at system modernization and MMI

[2016-02-12 22:47] IlseFerris commented on #184
Geek points issued to @theVKC for the use of data points...LOL!

[2016-02-16 15:57] theVKC opened #185 "Move create_dynamic_calendar_dialog from REVS scrubber over to FuncLib, add parameters"
Here are the extra parameters I picture:

* No-go date range (an array I'd think)
* Disable weekends
* Custom text on dialog

Anything else?

[2016-02-23 22:15] courtrightd opened #187 "Write_panel_to_maxis_unea bug with cola"
Needs a Warning message check for COLA, pull request coming

[2016-02-24 17:42] #187 closed

[2016-03-10 19:26] CDPotter opened #189 "BUG: Autofill editbox from maxis. ACCT section doesn't account for 10+ accounts"
One worker has exactly 10 active bank accounts for a client. The script only reads the 1 digit so it's reading "1" and thinking it's done. Just need to change it to read 2 digits. There may be other asset panels that need this fix.

I tested on a fake case and was able to make at least 21 acct panels before I gave up trying to find a limit.

[2016-03-10 20:15] CDPotter commented on #189
Strangely enough the limit is 96 asset panels.

[2016-03-10 20:21] RobertFewins-Kalb opened #191 "Enhancement -- Create global constants for values that change each year"
This came about because of a need to change the income standards in NOTES >> LEP SPONSOR INCOME... Methinks constants that change on a yearly basis should be stored in FuncLib so we have just one place to go to change important constant values rather than changing the values piecemeal.

I have already updated NOTES >> LEP SPONSOR INCOME (so that's one script that will need its constants swapped) b

[2016-03-14 14:20] theVKC commented on #191
Do you want this, @RobertFewins-Kalb?

[2016-03-14 16:31] IlseFerris opened #192 "Add navigate to MMIS to FuncLib"
Currently used in the BULK - FIND MAEPD MEDI CEI script, and working beautifully. Would like to add this as it could be useful in other scripts (in the future).

[2016-03-14 16:32] IlseFerris opened #193 "Add navigate to MAXIS to FuncLib"
In association with issue #192
Currently used in the BULK - FIND MAEPD MEDI CEI script, and working beautifully. Would like to add this as it could be useful in other scripts (in the future).

[2016-03-14 20:30] RobertFewins-Kalb commented on #191
I would. I'll work on a way to implement this for different household sizes, but I'm confident I can whip something up.

[2016-03-14 21:34] C-Love opened #194 "Month Change - New Function"
Create a new function that will change the month by any interval.

ie. month_change ( [interval], start_month, start_year)

This will allow us to be able to use CM + or - anything and allow input from users to determine the month change.

[2016-03-16 13:49] theVKC commented on #194
Love it. Want it?

[2016-03-21 15:52] theVKC commented on #163
This is still being tested in the main repo. So, I'm going to move it to April.

[2016-03-21 15:53] theVKC commented on #164
Closing this for now. This is in the instructions I'm building and will debut on SIR shortly.

[2016-03-21 15:53] #164 closed

[2016-03-21 15:54] theVKC commented on #167
Closing. CSES scrubber no longer automatically closes this.

[2016-03-21 15:54] #167 closed

[2016-03-21 15:56] theVKC commented on #184
This needs to happen, but I want it to go out Monday after hackathon (and before training).

[2016-03-21 15:57] theVKC commented on #185
I won't have time to do this in the next month or so. :(

[2016-03-21 15:57] theVKC commented on #189
@CDPotter: was this successfully added? I.e. did you pull request?

[2016-03-21 15:58] theVKC commented on #191
@RobertFewins-Kalb: tagging with the April release. Let me know if you need me to change that. :)

[2016-03-23 17:50] #189 closed

[2016-03-23 17:50] CDPotter commented on #189
Only ACCT panel was still reading 1, the other asset panels were fine. (CARS, REST, SECU, OTHER)

[2016-03-24 21:41] IlseFerris opened #196 "Call autofill from MAXIS for WREG isn't pulling counted months into scripts"
I've got this.

[2016-03-25 18:20] theVKC commented on #196
@IlseFerris: are you sure you want it to do this for all cases?

[2016-03-30 13:48] C-Love opened #200 "Standardize 'navigate_to' in all FuncLib"
The navigate_to_screen function needs to be replaced with navigate_to_MAXIS_screen in all of the functions in the FuncLib.

For consistency's sake!

[2016-04-06 18:38] theVKC opened #201 "Add File_Selection_System_Dialog(file_selected) to FuncLib"
@courtrightd, @CDPotter, or @RobertFewins-Kalb: is BrowseForFile the VBScript-specific function? Or did we tweak it in FuncLib?

[2016-04-06 22:17] #201 closed

[2016-04-18 14:21] CDPotter opened #203 "Create a function for cutoff dates"
We should create a function to calculate cutoff dates.

Possible solutions include:

next_cutoff_date could be a variable which determines itself based on a cutoff list on FuncLib. That's my vote. Maybe current_mo_cutoff_date and next_mo_cutoff_date, and we insert all known cutoff dates and update monthly/bimonthly. Thoughts?

Function cutoff_date_calc(footer_month, cutoff_date)
if footer_month =

[2016-04-18 16:41] theVKC commented on #203
Do you want this one, @CDPotter?

[2016-04-18 16:43] CDPotter commented on #203
Sure, would you be able to get a list of cutoffs for 2016?

[2016-04-18 16:44] theVKC commented on #203
I just have the same one that's on SIR.

[2016-04-18 16:46] CDPotter commented on #203
So just the current/future months hm? Is there anyone you could contact to get a full list? I'm envisioning a "doomsday" situation where the constant doesn't get updated in time or something and scripts start breaking due to bad dates.

[2016-04-18 16:59] theVKC commented on #203
That's why we haven't done this in the past. I'll contact some folks and we'll hope for the best.

[2016-04-18 18:03] theVKC commented on #203
Cool! Go POLI/TEMP! TE19.132

[2016-04-18 19:18] theVKC commented on #191
@RobertFewins-Kalb and @CDPotter:

I think #203 might be a duplicate of this. Let's add a "cutoff date list" to this issue. I'll close the other issue.

[2016-04-18 19:20] theVKC commented on #203
I'm calling this issue a duplicate of #191. @CDPotter, I'm closing this. Can you add any comments on this to #191? Thanks!

[2016-04-18 19:20] #203 closed

[2016-04-18 19:22] theVKC commented on #163
OK folks, realistically I don't think I can get this done this month or next. @MN-Script-Team/functions-library-contributors: it shouldn't be too difficult to add an extra class for creating buttons (which behave like tabs) to specialize certain scripts. I just don't know when I'll have time. It needs to happen though, the standardization from that will greatly help in our workflow projects, and I

[2016-04-18 19:23] theVKC commented on #71
OK, I really need to make sure this gets done. I'm tagging it for May and finding time in my schedule.

[2016-04-18 19:23] theVKC commented on #106
@IlseFerris, we need to actually get this done for real.

[2016-04-18 19:25] CDPotter commented on #191
POLI/TEMP! TE19.132 contains cutoff date information. Would be nifty if we could just have the function read from POLI TEMP each time =P this is super helpful though!

[2016-04-18 19:25] theVKC commented on #192
@IlseFerris, I never got your code on this one. I can see it looks like you added something but don't know what it was. Your pull request might not have gone through.

[2016-04-18 19:25] theVKC commented on #193
Any update @IlseFerris? If this isn't going to happen anytime soon we should close the issue.

[2016-04-18 19:26] theVKC commented on #194
@C-Love: I moved this to the May release. Let me know if you still want it.

[2016-04-18 19:29] C-Love commented on #194
I do! Thank you

[2016-04-25 13:52] theVKC commented on #200
#106 contains this, so this is a duplicate and will be closed.

[2016-04-25 13:52] #200 closed

[2016-04-25 20:28] theVKC opened #205 "Gorbachev/Bowie - add disable_StopScript handling"
Basically, if `disable_StopScript = true`, the `StopScript` in `script_end_procedure` needs to disconnect.

I've already done this. Woot!

[2016-04-25 20:32] #205 closed

[2016-04-25 21:15] theVKC commented on #166
Spoiler alert, it does this already. Silly me. Closing.

[2016-04-25 21:15] #166 closed

[2016-04-25 21:18] theVKC commented on #165
So, it mostly does this. What's missing is a Dim-ing of the `county_name`. I'll add that now.

[2016-04-25 22:06] theVKC opened #208 "Replace worker_county_code_determination with a shorter get_county_code function"
Basically, only doing this to shorten the name and remove the parameters, as they are now defined earlier in FuncLib. On it.

[2016-04-25 22:06] #165 closed

[2016-04-25 22:19] #208 closed

[2016-04-25 22:19] theVKC commented on #191
@RobertFewins-Kalb, can I get an update on this one?

[2016-04-26 13:11] RobertFewins-Kalb commented on #191
None progress at this point

[2016-04-26 16:17] theVKC commented on #191
It's tagged with the May release, and enhancements are due by May 13. Do you think you'll be able to get it done by then?

[2016-04-26 16:34] RobertFewins-Kalb commented on #191
Yes. I will be able to have something by then

[2016-04-27 15:16] theVKC commented on #191
Thank you!

[2016-04-29 15:49] theVKC opened #210 "Create class for "script", can be used to create menus and lists"
Here's what we're imagining.

- [ ] Category
- [ ] SIR instructions URL
- [ ] Description
- [ ] Script URL
- [ ] Button + increment
- [ ] Button - increment
- [ ] Total times to run
- [ ] ButtonPressed
- [ ] Subcategory (array)

I got this.

[2016-04-29 15:50] IlseFerris opened #211 "Update cancel_confirmation to include script_end_procedure"
Currently StopScript is being used, this needs to change to script_end_procedure.

[2016-05-05 15:53] RobertFewins-Kalb commented on #191
How do we feel about this warning box when we forget to update the global constants?

![image](https://cloud.githubusercontent.com/assets/7842016/15048538/a65a6dd8-12af-11e6-9e5d-251527b5dc41.png)

[2016-05-05 16:08] CDPotter commented on #191
Seems like a good backup reminder to me.

[2016-05-05 16:16] theVKC commented on #191
Agreed.

[2016-05-05 16:20] RobertFewins-Kalb commented on #191
Then I am ready to submit three new functions to FuncLib for the categorically eligible income limits, the gross income limits and the net income limits. To use each function, you could use the _HH_member_custom_dialog_ function and pass the ubound of the array +1 for _household_size_ and the function returns the income limit for that household size.

The values for the income tests and the _valid

[2016-05-05 16:22] theVKC commented on #191
Should we declare `household_size + 1` as a constant and pull it out to be used elsewhere in scripts?

[2016-05-05 16:26] RobertFewins-Kalb commented on #191
I think that's certainly the easiest way to use the function, but I don't want to pigeon-hole script writers to using it. I could imagine a scenario where a script is checking EATS and determines the hh size that way. In that case `household_size = household_size + 1` would be a valid way to put data into the function.

[2016-05-05 16:29] theVKC commented on #191
Good point.

I'm wondering if this isn't a good target for standardization? Seems like we're going to use it a lot for lots of scripts. Also, it varies by program, so I could see using different variables simultaneously (`SNAP_HH_size <> MFIP_HH_size`).

In any case, I think we should use your method now, and consider this in the near future with Bowie considerations.

[2016-05-05 16:31] RobertFewins-Kalb commented on #191
I left MFIP & DWP alone. I saw the income limit business in CM but I thought it best to leave that to family cash peeps as `robert(MFIP).program_knowledge < 10`

[2016-05-09 13:43] IlseFerris opened #213 "Add WKEX button to MAXIS dialog navigation"
There's not one, and May's new script has a nav button for this. Assign to me.

[2016-05-09 14:22] IlseFerris commented on #185
This might not be ready by Friday. Can we change the release to June?

[2016-05-09 16:41] IlseFerris commented on #196
I am also adding functionality to pull ABAWD counted months and 'Second set' of counted ABAWD months information to the autofill function, as well as the dates of the counted months.

[2016-05-09 18:37] #191 closed

[2016-05-09 18:50] #192 closed

[2016-05-09 18:50] #193 closed

[2016-05-09 18:50] #211 closed

[2016-05-09 18:50] #213 closed

[2016-05-09 21:13] #210 closed

[2016-05-10 18:22] theVKC commented on #194
@C-Love: I know you've been out just a little bit. I'm going to remove this from the May release. Let me know if you want it reassigned. :)

[2016-05-10 20:53] IlseFerris opened #217 "Script_end_procedure needs a close command prior to Project Bowie completion"

[2016-05-10 21:03] #71 closed

[2016-05-10 21:03] #106 closed

[2016-05-10 21:04] theVKC opened #219 "In June: remove outdated functions entirely"
Those functions are at the bottom of FuncLib:

* `ERRR_screen_check`
* `maxis_check_function`
* `navigate_to_screen`
* `write_editbox_in_case_note`
* `write_new_line_in_case_note`
* `write_new_line_in_SPEC_MEMO`
* `worker_county_code_determination`
* `write_TIKL_function`

[2016-05-11 12:27] IlseFerris opened #222 "Add current month/year plus 2 as a global constant"
CM_plus_2_mo =  right("0" &             DatePart("m",           DateAdd("m", 2, date)            ), 2)
CM_plus_2_yr =  right(                  DatePart("yyyy",        DateAdd("m", 2, date)            ), 2)

Helpful particularly for use in BULK scripts that use REVS. Assign to me @theVKC if you're OK with the enhancement.

[2016-05-11 14:47] #196 closed

[2016-05-11 14:49] theVKC commented on #217
Bowie is moved to June. I'm moving this to June as well.

[2016-05-11 15:16] #222 closed

[2016-05-11 16:59] theVKC commented on #184
`PMI` does not exist in FuncLib. That means with #224, this issue is closed!

[2016-05-11 16:59] #184 closed

[2016-05-11 17:05] IlseFerris commented on #184
Nice work and thank you!

[2016-05-23 14:28] CDPotter opened #225 "Bug footer month finder memo issue"
When running the function MAXIS_footer_finder it's finding Month: but on MEMO there's a second spot where Month: exists causing it to read "/ ".

This can be solved with an if statement for when the script is run on MEMO.

I can take this one.

[2016-05-23 15:36] CDPotter opened #227 "JOBS panel is a' changin'"
HC income estimator will be at 19, 48
GRH income estimator (new) will be at 19, 71
SNAP income estimator is in the same spot.

Functions affected:
add_JOBS_to_variable(variable_name_for_JOBS)
write_panel_to_MAXIS_JOBS

[2016-05-23 17:10] theVKC commented on #227
Thanks @CDPotter!

[2016-05-23 17:11] theVKC commented on #227
This is pretty critical, so we're delaying release to get it built and tested.

[2016-05-23 18:46] #227 closed

[2016-05-25 19:07] #225 closed

[2016-05-25 19:31] #219 closed

[2016-05-25 19:50] theVKC commented on #163
I'm intrigued by @RobertFewins-Kalb's work here: https://github.com/MN-CS-Script-Team/PRISM-Scripts/blob/master/Script%20Files/NOTES/NOTES%20-%20MAIN%20MENU.vbs

I think I'm going to take it and use it here. I have a theory and it involves https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/2159.

[2016-05-31 15:44] C-Love opened #232 "Convert_date_to_MAXIS_Footer_Month is creating 1 digit Month"
This function is creating the footer month to be only 1 number long for Jan - Sept. Looks like the length logic is after the pulling of the month portion of the date.

I have the fix.

This is what is breaking Application Received for cases that have not yet been pended.

[2016-05-31 19:06] theVKC commented on #232
@C-Love, was there a regular scripts issue which is solved by this?

[2016-05-31 21:08] C-Love commented on #232
Approved Programs was affected but I could not find an issue for it. I think maybe we just talked about it last week but never created an Issue.

[2016-06-01 14:53] theVKC commented on #232
Sounds good. I'll make sure that's in the release notes.

[2016-06-02 19:50] theVKC opened #234 "Make "load and fill Word doc" function"
This is crosslisted from here: https://github.com/MN-CS-Script-Team/PRISM-Scripts/issues/11

Basically, I envision a function that is used like this:

[code]

I'm on this. I've asked PRISM to test this one since they use a lot of Word docs. :)

[2016-06-03 15:33] theVKC commented on #232
This is causing Approved Programs to have an impassable in agencies where the user entering the note and APPLing doesn't have STAT access. As such, I'm upgrading this to critical.

[2016-06-03 15:37] #232 closed

[2016-06-08 20:00] theVKC opened #236 "Create "open URL in browser" function"
On it

[2016-06-08 20:02] theVKC opened #237 "Define "ButtonPressed" as blank in FuncLib"
That way it does not need to be dim'd elsewhere. On it.

[2016-06-09 18:35] #236 closed

[2016-06-09 18:35] #237 closed

[2016-06-13 15:45] MelissaFox-Stearns opened #240 "Add verbiage to start_a_blank_CASE_NOTE"
Function start_a_blank_CASE_NOTE has a case note check that alerts the worker they might be in inquiry. Should add a note that the worker may not have proper authorization to create a case note as a troubleshooting option.

[2016-06-13 16:40] theVKC opened #241 "Idea: script blacklist"
I want to create an option (thanks to #163) which allows an agency to blacklist certain scripts with an update to Global Variables. I will crosslist this in the MAXIS list. I could see something like that being helpful for PRISM as well (I've briefly discussed this with the PRISM scriptwriters here).

This should be added to the function from #163, which is due to be pulled shortly.

[2016-06-13 16:43] RobertFewins-Kalb commented on #241
PRISM scripts already has a way for agencies to blacklist scripts.

[2016-06-13 16:56] theVKC commented on #241
From what I can see, PRISM's process is whitelisting and not blacklisting. It appears to involve a GitHub list (maintained by GitHub admins) which agencies _opt in_ to. The new MAXIS method would be an _opt out_ process that's managed within-the-agency without involving a pull request (which requires an admin to accept). I'm also working in "forced overrides" which prevent a user from blacklisting

[2016-06-17 15:43] RobertFewins-Kalb opened #243 "New function >> gather stats by supervisor"
Similar to `create_array_of_all_active_x_numbers_in_county(array_name, county_code)` hows about a custom function that navigates to REPT/USER to pull all X1 numbers under to that supervisor. Would be nice for supervisors to check caseload stats for their staff.

[2016-06-17 16:07] theVKC commented on #243
I like it. Shall I assume you want this one?

[2016-06-17 16:15] RobertFewins-Kalb commented on #243
yes please. I will submit a pull request today

[2016-06-17 16:31] #243 closed

[2016-06-20 21:21] RobertFewins-Kalb commented on #241
OK, I have been poking around with the script below, and I like you version. That is slick.

![image](https://cloud.githubusercontent.com/assets/7842016/16210698/0b3e2a7e-3703-11e6-87b0-e6ffcedeacc4.png)

[2016-06-21 14:35] theVKC commented on #241
Thank you!?

Not entirely certain how your screenshot discusses the issue. Perhaps a bit of explanation would help me make sense of it?

[2016-06-22 14:31] RobertFewins-Kalb opened #245 "Bug -- write_panel_to_MAXIS_ACCT needs updating"
STAT/ACCT has been updated. Verif code field has moved from 10, 63 all the way to 10, 64.

[2016-06-22 14:47] RobertFewins-Kalb commented on #245
looks like it's also dependent on the month

[2016-06-22 14:53] theVKC commented on #245
Want it? We should be able to get it fixed before Monday's release, right? I can't imagine it's that hard.

[2016-06-22 15:14] RobertFewins-Kalb commented on #245
Yes please. I can run a scenario with a bunch of panels to find any other bugs and submit fixes this week.

[2016-06-22 15:39] theVKC commented on #245
Thanks for doing it! :)

[2016-06-22 17:29] RobertFewins-Kalb commented on #245
Master and Release or just Master?

[2016-06-23 13:44] theVKC commented on #245
Just master. Release is on Monday and I'm betting we can wait that long.

[2016-06-27 14:18] theVKC commented on #240
Can we add OK-cancel functionality to this @MelissaFox-Stearns?

[2016-06-27 18:25] IlseFerris opened #247 "Remove functions specific to NOTES - BURIAL ASSETS"
These 3 functions are specific to NOTES - BURIAL ASSETS, and should be moved back to the script itself, and removed from FuncLib. Functions are:
* new_BS_BSI_heading
* new_CAI_heading
* new_service_heading

@CDPotter is wiling to take this for the July release since he is working on enhancements for the NOTES - BURIAL ASSETS script.

[2016-06-27 18:42] IlseFerris opened #248 "Call for input: removal of sort_numberic_array.... functions from FuncLib"
sort_numeric_array_ascending(values_array, separate_character, output_array)
AND
sort_numeric_array_descending(values_array, separate_character, output_array)

Both these functions do not exist in any current MAXIS scripts. I propose that we remove these functions from the FuncLib as to clean up the FuncLib. @RobertFewins-Kalb, do you have anything local or in PRISM scripts that use these function

[2016-06-27 18:45] IlseFerris opened #249 "Add date_array_generator to FuncLib"
@theVKC created this function for the ABAWD banked months fiater. It needs to be added to the FuncLib. Fact.

[2016-06-27 20:37] RobertFewins-Kalb commented on #248
Why remove them? vbscript has no way of sorting a numeric array. Those functions give script writers the ability to sort numeric arrays.

[2016-06-27 21:08] IlseFerris commented on #248
Why keep them? True, vbscript doesn't have a functions that have this ability, but if MAXIS scripts aren't using the function then why keep it in the FuncLib?

[2016-06-29 13:05] CDPotter commented on #247
Once we get the pull below, pulled I can remove these functions.

https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/pull/2378

[2016-06-29 18:54] #245 closed

[2016-06-29 18:55] theVKC commented on #248
@RobertFewins-Kalb: I believe we ran into problems when implementing it. Perhaps a brief set of instructions on how to properly use the function would help the impasse.

[2016-06-29 18:57] theVKC commented on #185
I keep running into problems finding time for this. Perhaps @CDPotter or @RobertFewins-Kalb would be interested?

If nobody is interested by next hackathon, I'm closing the issue. :(

[2016-06-29 19:01] #247 closed

[2016-06-29 19:11] CDPotter commented on #185
I could give it a shot.

[2016-06-29 19:12] theVKC commented on #185
Thank you @CDPotter!

[2016-06-30 15:17] IlseFerris opened #252 "Retire depreciated functions"
There are 7 functions that still appear the FuncLib that have been removed from MAXIS scripts AND from FuncLib functions from the Operation Doubtfire project. These functions include:
memb_navigation_next
memb_navigation_prev
navigation_buttons
panel_navigation_next
panel_navigaton_prev
stat_navigation
step_through_handling

I have reconfirmed that these functions are not in any scripts. I propose

[2016-06-30 16:16] theVKC commented on #252
Thank you!

[2016-06-30 16:19] theVKC opened #253 "Move worker_signature reading to FuncLib"
See https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/2381 for details.

Adding worker_signature determination to FuncLib.

[2016-06-30 16:38] #253 closed

[2016-06-30 19:20] theVKC opened #256 "Issue with worker_county_code_determination: showing state folks if you're a state person"
Ruth is having a problem getting the PND2 script working for her since a recent update. We'd been making changes to PND2 and these functions but it doesn't seem to have resolved this issue. I'm on this for July.

[2016-07-05 15:14] theVKC opened #257 "script_end_procedure: allow "pass through" error message which prevents MsgBox"
For example, let's say you want the stats database to register that the user pressed cancel. WIth this update I want to do, if the first parameter is "~PT: user selected cancel", the database will show "user selected cancel" and the user won't have to get a MsgBox with that info. This allows scripts to pass error reporting without needing to provide an annoying pop-up.

On it for CSES scrubber.

[2016-07-05 16:07] #217 closed

[2016-07-05 16:15] theVKC commented on #257
Note: OK, I can see we already have `CANCEL BUTTON SELECTED`, but that only affects cancel buttons. I want to use this pass through for other things, like error tracking. Basically, I want to pass the database information without the worker having to push a button. That's fair, right?

[2016-07-05 16:23] IlseFerris commented on #257
Sounds like the only way to go for our users, woot woot!

[2016-07-05 16:36] #257 closed

[2016-07-05 17:05] theVKC opened #260 "Function to enable developer mode"
This happens one of two ways:
1. User enters Konami Code (UUDDLRLRBA) as worker_signature.
2. User has a token for developer mode (unwritten as of yet, but see https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/2394).

This needs to be done to resolve https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/1714. On it.

[2016-07-05 18:04] RobertFewins-Kalb commented on #248
I could go either way if it's not working.

[2016-07-05 18:33] theVKC opened #261 "Add some kind of markup for BULK - CASE NOTE FROM LIST, use it elsewhere"
This is a hypothetical function, but I think it could be good. I'm at a meeting at Ramsey and I think this could be helpful.

We already have semicolon translating to a new line... If we came up with characters (or reserved variables) for new line, worker signature, and others, we could easily add script-like CASE/NOTE formatting to this script. By adding it in FuncLib (somehow, TBD) we can add th

[2016-07-05 18:35] theVKC commented on #248
We can always go back through the GitHub history to retrieve it.

@IlseFerris, can you depreciate this along with #252? I'm closing this issue.

[2016-07-05 18:35] #248 closed

[2016-07-05 18:40] theVKC commented on #252
Can we also add `script_end_procedure_wsh` to this list? Please and thank you!

[2016-07-07 21:27] IlseFerris commented on #248
Will do.
Also adding script_end_procedure_wsh to the list.

[2016-07-11 20:53] IlseFerris opened #262 "autofill_editbox_from_MAXIS for WREG panel enhancement: revalue second_set_info_list if the value is """
Currently the value is writing in as a blank. It will be much more helpful to users if this reads as none instead of a blank.

Assign to me, pulling in momentarily.

[2016-07-12 18:49] RobertFewins-Kalb opened #264 "Krabappel Bug -- write_panel_to_MAXIS_PBEN"
The function checks for blank spaces `"  "` on a PBEN row in the PBEN type field to determine where it needs to write, but PBEN has two underscores `"__"` instead for a blank PBEN type.

[2016-07-13 19:21] #262 closed

[2016-07-13 19:27] #264 closed

[2016-07-15 17:06] #252 closed

[2016-07-15 17:30] IlseFerris commented on #249
This one's in ACTIONS - ABAWD banked months fiater. Just so you know where to find it.

[2016-07-18 14:53] #185 closed

[2016-07-27 17:26] IlseFerris opened #269 "Remove depreciated functions"
Last month, several functions were reitred, and redirected to the new functions per issue https://github.com/MN-Script-Team/BZS-FuncLib/issues/252.

This month the depreciated functions need to be removed. I'm on it for the August release.

[2016-08-01 18:24] theVKC opened #271 "Add PRISM functions into FuncLib"
This is a simple one, but ensure all PRISM-specific functions are located in the FuncLib.

- [x] change_client_name_to_FML
- [x] clear_line_of_text (unused but could be helpful)
- [x] create_mainframe_friendly_date
- [x] date_converter_PALC_PAPL
- [x] enter_PRISM_case_number
- [x] fix_case_for_name (unused but could be helpful)
- [x] fix_read_data
- [x] PRISM_case_number_finder
- [x] PRISM_case_nu

[2016-08-08 20:28] theVKC commented on #271
In case anyone wants to see it...

[function list PRISM.xlsx](https://github.com/MN-Script-Team/BZS-FuncLib/files/407677/function.list.PRISM.xlsx)

[2016-08-12 14:17] IlseFerris opened #272 "add_JOBS_to_variable needs to be updated to read GRH PIC"
This function reads the HC estimator and the SNAP PIC. Since there is a GRH PIC now, we'll need it to read that one too.

[2016-08-12 14:18] theVKC commented on #272
Do you want it, @IlseFerris?

[2016-08-12 14:30] IlseFerris commented on #272
Oh sure ;)

[2016-08-12 14:38] theVKC commented on #272
Think you can get it done today? It is the last day before the freeze.

[2016-08-12 14:39] IlseFerris commented on #272
I'm sure as heck going to try!

[2016-08-12 14:48] #269 closed

[2016-08-12 14:50] theVKC commented on #256
@CDPotter, you might want to take a look at this one. I had been working on it for Ruth but didn't have time to complete it. I'm going to remove myself from this issue, I think you should take it and coordinate a fix with Ruth.

[2016-08-12 15:36] CDPotter commented on #256
Looks like the bulk pnd2 script uses the wrong variable, two_digit_county_code vs the complete worker_county_code(which is what the output of get_county_code) I'm gonna close this open new issue and fix.

[2016-08-12 15:36] #256 closed

[2016-08-12 17:45] #272 closed

[2016-08-12 21:46] theVKC opened #274 "run_from_GitHub: remove my name and shrink it down"
This needs to be unified with the current FuncLib block. on it for this month.

[2016-08-12 21:52] #271 closed

[2016-08-12 22:06] #274 closed

[2016-08-17 22:11] theVKC opened #277 "Rewrite CAAD noting functions to use EMWriteScreen"
Right now, they use EMSendKey. Very slow. We fixed this in MAXIS.

This was originally in PRISM-Scripts as https://github.com/MN-CS-Script-Team/PRISM-Scripts/issues/349. Closing there because this is opened.

[2016-08-17 22:51] theVKC opened #278 "select_cso_caseload - Add parameter for different code"
Copied this from https://github.com/MN-CS-Script-Team/PRISM-Scripts/issues/410 courtesy of the talented @KallistaImdieke.

---

'Loading the dialog to select the CSO
CALL select_cso_caseload(ButtonPressed, cso_id, cso_name)

![image](https://cloud.githubusercontent.com/assets/5701751/17756059/3629d364-64a3-11e6-97fd-84b53f5c641a.png)

The dialog box refers to a specific script.

Thanks!

---

I'll

[2016-08-18 10:40] theVKC opened #279 "Create update_scripts function for checking for script/Power Pad updates and applying them"
I believe this should be created as a function so that both PRISM and MAXIS scripts can utilize it.

This allows https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/2101 to become a simple redirect to this function.

Parameters:
- [ ] Check if you have read/write access to Global Variables
- [ ] If you have read/write, show a dialog with all of the Global Variables settings
- [ ] Based on u

[2016-08-18 10:47] theVKC commented on #240
Any update on this one, @MelissaFox-Stearns? I know things have been tight at Stearns right now. If you haven't gotten around to it, perhaps someone else may take this on?

[2016-08-18 16:02] CDPotter opened #280 "Enhancement: Yearly CM changes (shelter, income constants)"
For 10/1/16 quite a number of things are going to change in CM. They sent out the drafts to us yesterday so I'll find out if I can get the final versions. We will need to update some constants here and there.

Changes included on the draft are:
SNAP Single utility standard is changing
SNAP Max monthly shelter deduction is changing
SNAP standard disregard is changing
SNAP income gross limits are ch

[2016-08-23 14:55] CDPotter opened #282 "Critical bug - add_jobs_to_variable is backing out of jobs causing CINT error"
We added code to check the GRH PIC, in doing so the script is told to PF3 to get out of the GRH PIC. However the GRH PIC doesn't exist 06/16 and before as such the script leaves the JOBS panel and tried to convert a letter if finds on the self panel into a integer (CINT). The GRH PIC is only on the JOBS panel

I have added a check and will pull the fix. I feel this is critical as it will prevent a

[2016-08-23 18:15] #282 closed

[2016-08-24 15:48] CDPotter commented on #280
Changes were discussed at Mentor meeting today(for more details please review the meeting). They are to be installed overnight 8/30/16 so workers can process 10/16 cases with the new standards/deductions/limits. Right now the only script I can think of that has a constant in it is the NOTES - Expedited Screening. I will be adding time-sensitive code to the script so we can make sure the constant i

[2016-08-24 17:57] CDPotter opened #286 "Enhancement Autofill from JOBS/UNEA/SCHL changes to income types/new field"
Per mentor meeting today there are some changes to the JOBS panel and UNEA panel.

JOBS:
- New type codes include T - Training P - Service program and R - Rehab Program These will need to be accounted for.
- There is also a new field around 6, 60 "Hourly Wage" which needs to be read from when those 3 income types are used.
-This new field seems to move the verif code to the left at 6, 34 and the i

[2016-08-26 10:59] IlseFerris opened #287 "MAXIS_dialog_navigation enhancement: add several MAXIS screens"
Function should be enhanced to include the following MAXIS screens:
* ADME
* BUDG
* DFLN
* DISQ
* EMMA
* EMPS
* MMSA
* PACT
* PARE
* REMO
* SANC
* SIBL
* TIME
* WREG

I'll take this one for the September release. I will be enhancing a few script that will need some of these .

[2016-08-29 14:43] IlseFerris opened #289 "Add EMPS to autofill_editbox_from_MAXIS"
EMPS information will need to be added to the function as this will be added to the CAF.
Assign to me for the September release.

[2016-08-29 14:52] theVKC commented on #289
Go @IlseFerris!

[2016-08-30 16:38] #280 closed

[2016-08-30 16:39] #287 closed

[2016-09-01 13:34] CDPotter commented on #286
Luckily it looks like funclib doesn't ever read or manipulate the JOBS/UNEA types so only autofill from SCHL and write to JOBS need changing(due to coordinates). Fix incoming

[2016-09-01 15:13] theVKC commented on #286
@CDPotter, is this critical?

[2016-09-01 15:20] #286 closed

[2016-09-01 15:20] CDPotter commented on #286
My gut would say no.

JOBS/UNEA don't read and translate the type codes
SCHL does but that wouldn't inhibit and scripts(fix in pull)
The new hourly wage field is only available in 10/16 and worst case it wouldn't get pulled into case notes for 10/16 cases processed until release.

The only part I could see as critical is the training case creator bit as that won't work for with a jobs panel in 10/

[2016-09-01 15:21] #289 closed

[2016-09-01 15:22] theVKC commented on #286
Well, keep an eye out for issues, and if one comes in, go ahead and pull it in yourself.

[2016-09-02 18:22] IlseFerris opened #292 "autofill_editbox_from_MAXIS for EMPS: additional coding for minor mom & ES exemptions needed"
EMPS_memb_at_home and EMPS_hard_employ fields in EMPS do not use "Y" as their coding. Codes need to be added.
Also Minor mom (18/19) ES option should be added while I'm in here.

Assign to me for Sept. release. Tested and pulling in now.

[2016-09-02 19:58] #292 closed

[2016-09-12 21:22] theVKC opened #294 "new function - write_date"
Here's what I'm imagining as a parameter:
- `"MM/DD/YYYY"` becomes "01/01/2001"
- `"M/D/YY"` becomes "1/1/01"
- `"MM  .  DD  .  YY"` becomes "01  .  01  .  01"

On it.

[2016-09-22 16:38] IlseFerris opened #295 "Script_end_procedure update to include option to write to SQL"
Hennepin County (and presumably other counties in the future) is moving to a SQL server database to collect BlueZone scripts statistics. The script end procedure function needs to be updated to point to the SQL path if agencies are collecting stats, and they are using SQL vs. ACCESS.

Assign to me for the September release.

[2016-09-22 17:28] #295 closed

[2016-09-22 17:29] theVKC commented on #240
marking this as help-wanted. Anyone want to hit this one real quick? @IlseFerris? @C-Love? @courtrightd? @RobertFewins-Kalb? @CDPotter?

[2016-09-22 17:32] theVKC commented on #279
@CDPotter, this mirrors your work on MAXIS, no? Creating a function that does the above would resolve both MAXIS and PRISM issues.

[2016-09-22 18:23] IlseFerris commented on #240
I can knock this out

[2016-09-22 21:33] #240 closed

[2016-09-26 14:45] theVKC opened #298 "Can Hennepin provide their SQL server stats CREATE TABLE queries?"
So, this came up at hackathon today. Essentially: Hennepin has built a SQL server for usage stats, and other counties are interested in implementing that (over Access).

If @IlseFerris can provide the SQL server CREATE TABLE queries, that other counties can implement, I'd be happy to document it.

@IlseFerris, you should request the "SQL server CREATE TABLE queries" from SQL Server Management Stud

[2016-09-26 18:31] theVKC commented on #294
Per hackathon, we're just going to create a new function called "write_date".

[2016-09-28 14:09] theVKC commented on #279
@CDPotter, I presume this may not be ready by Friday, right? That's fine by me, I am comfortable kicking this one down a bit.

[2016-09-28 14:16] CDPotter commented on #279
Correct, I haven't had a chance to do the power pad function and the rest is currently not very dynamic.

[2016-09-28 14:34] theVKC commented on #279
Good deal. No worries, at least from my end, this is less important than other things.

[2016-09-29 15:00] theVKC opened #299 "Create REGL function for PRISM"
Pretty simple. I think a REGL function (which clears global variables from within PRISM) would be swell. It would also resolve some issues on the PRISM side. On it.

[2016-09-29 15:34] #299 closed

[2016-09-30 14:54] theVKC commented on #277
Per https://github.com/MN-Script-Team/DHS-PRISM-Scripts/issues/560, this function appears to be causing issues. So, I'm prioritizing a fix and marking this now as a bug.

[2016-10-05 13:31] CDPotter opened #302 "Enhancement add jobs/schl to variable"
It's been requested that the information pulled from the jobs and schl panels be include more pieces.

JOBS: Reviewers are getting confused when the script pulls prospective information thinking it was what is budgeted for SNAP(prospective monthly income field) when it's pulled from the prospective side of the jobs panel.

SCHL: They want to see the FS elig code from this panel.

I can do this.

[2016-10-10 14:24] CDPotter opened #303 "Enhancement autofill from BUSI budget method question"
A vbYesNo in the autofill function for BUSI? Then the worker is just asked if they had the discussion with the client about the 50% budgeting method vs tax forms in the middle of the script looking at an existing BUSI panel.

[2016-10-12 16:52] CDPotter commented on #303
Decided to tackle locally rather than in funclib.

[2016-10-12 16:52] #303 closed

[2016-10-19 18:47] CDPotter commented on #279
Finally getting a chance to look at this again. Do we really want people using the script to add variables to their globvar file? Seems a bit error prone to me. We'd also have to account for comments on that variable and then making the dialog reflect that newly added variable.

[2016-10-19 19:05] theVKC commented on #279
Yes, I think we should. Essentially, it can load a GlobVar file, read it to a dialog, provide comments as text under each selection, then create a brand new GlobVar file which overwrites the previous. Essentially, ensuring our GlobVar and counties have the latest-and-greatest.

[2016-10-19 19:36] CDPotter commented on #279
I get that but in order to use the script correctly you'll have to have some understanding of variables and defining them. You'd have to write the name of the new variable (correctly); use a dropdown or something for the =, >, etc; write the correct value; and write a comment.

At that point wouldn't it just make sense to edit the file by hand? I figured this was more-so a tool for non-writer user

[2016-10-19 20:41] theVKC commented on #279
It is, but I don't follow you on the "too complex" side of things. They wouldn't directly be adding variables, the script would simply ask them for whatever's relevant, based on whatever variable's we've added.

[2016-10-19 20:43] CDPotter commented on #279
I was talking about checkbox number 4 above: Allow users to add new variables (variable name) and the default value(s) for that variable.

I took that as allow them to write in their own variables and define them vs (what I'm now thinking you meant) new variables WE introduce will show up on the dialog to be defined and written by the worker/script

[2016-10-19 21:01] theVKC commented on #279
I was thinking the latter, but see how you could have been confused.

It autofills with the default in a dialog, and the user can update it (either from a droplist or field, depending on what the logic is). That's what I had imagined. Adding new variables at will was not something I had schemed up, as far as I can recall.

[2016-10-24 17:12] #302 closed

[2016-10-24 17:13] theVKC commented on #298
@IlseFerris: I know you have this... #friendlyreminder

[2016-10-26 15:45] CDPotter opened #305 "Updating add wreg to variable to add new banked month field"
Need to add a read for the new field, and change the word translation for the 13 abawd code (if it's in there).

These changes will be placed in effect 10/28/16 so I can look at it after that.

[2016-10-27 15:30] gretchent74 opened #306 "select_cso_caseload needs more space for cso names"
updating function to accommodate for long names. Please assign to me.

[2016-10-27 22:51] #306 closed

[2016-11-01 15:43] theVKC commented on #302
@CDPotter, can you confirm that this is, in fact, working in master?

[2016-11-01 15:45] theVKC commented on #298
@IlseFerris: still waiting on you to upload this. Just create a new folder called "stats" and within that folder, save the SQL to a file called "sql-table-schema.sql". Pull that in and we'll be square.

[2016-11-01 15:45] theVKC commented on #279
@CDPotter, can I get an update on this? I presume it's "in progress"

[2016-11-01 15:48] CDPotter commented on #302
Checking on my fake case we are in business.

[2016-11-01 15:49] theVKC commented on #302
Good deal! Thank you!

[2016-11-01 15:51] CDPotter commented on #279
Indeed. Strangely when I tried to turn it into a function it worked less reliably.

[2016-11-01 15:53] theVKC commented on #249
@IlseFerris: any chance you can take this one for me? I'm swamped over here. I know it's been created and all... #ugh

[2016-11-01 15:53] theVKC commented on #279
What does "less reliably" mean? What kind of errors was it throwing?

[2016-11-01 15:55] CDPotter commented on #279
Nothing, I select the globvar file using the file select function and nothing seems to happen. I have noticed that it might just be message boxes hiding in the background but it's been about a week or more since I last looked.

[2016-11-01 15:57] IlseFerris commented on #249
Sure thing, I'll have it done by the end of the week.

[2016-11-01 15:58] theVKC commented on #261
@C-Love, we should find an opportunity to do this. I'm running into issues where we could use this in PRISM. :)

[2016-11-01 15:58] theVKC commented on #249
Thank you! :sheep:

[2016-11-01 16:00] theVKC commented on #279
Hmmmm. Should we meet on it sometime tomorrow? I'll be in the office.

[2016-11-01 16:01] CDPotter commented on #279
Sure shoot me an invite, all I have is a weekly meeting at 1:30-2;30 or so.

[2016-11-01 16:07] IlseFerris commented on #298
I'll get this in by the end of the week. Been living the banked months/ABAWD life lately.

[2016-11-01 16:14] theVKC commented on #298
Livin' La Vida Banca?

[2016-11-01 16:38] theVKC opened #310 "Idea: just merge all "write_variable" functions into one"
Hear me out:

It should be possible to tell what screen you're on based on what position you're in, in PRISM or MAXIS, right? But that might be irrelevant, because...

...perhaps the function can just look for the amount of underscores present. Or even the position on the screen. Or any other number of combinations of factors?

Basically, here's what I'm inspired by:

1. Folks (especially newer sc

[2016-11-01 16:40] lpshanley commented on #310
I love it. Rather that even requiring false or null you could add a handle for undefined so that if a person specifies nothing then its treated like false and if it has a value that value is used. That would be pretty easy to accomplish and it would make things quite nice ☺

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Veronic

[2016-11-03 20:24] theVKC commented on #234
This has suddenly become a priority!

I want to see if we can develop a process by which this can be easily loaded from GitHub and manipulated. If it can, it will be done (so that I can close https://github.com/MN-Script-Team/bzs-config-utility/issues/52 and https://github.com/MN-Script-Team/DHS-PRISM-Scripts/issues/451). If it cannot be done, I am going to mark the issue as a sleeper, and close i

[2016-11-04 14:57] #249 closed

[2016-11-04 20:29] #298 closed

[2016-11-07 16:40] theVKC commented on #310
OK folks, adding this to the to-do. I want to get this done in time for the next round of training.

[2016-11-08 21:19] theVKC opened #314 "Create two new functions for changelog details: display and update"
This is in support of https://github.com/MN-Script-Team/DHS-PRISM-Scripts/issues/599. This changelog functionality will allow scriptwriters to directly indicate their updates when they make updates. It creates pop-up boxes **on individual scripts** that tell staff about changes, and then it stores the results in the My Documents folder ala "update worker signature", so that way users aren't bombar

[2016-11-08 21:20] CDPotter commented on #314
I'm interested.

[2016-11-08 21:29] theVKC commented on #314
New functions are in master branch. I'll be pulling my changelog script into PRISM shortly, and I'll paste a link on this thread. Then, you-all can copy the functionality to a few scripts and perhaps test changelogs on some agency custom stuff?

[2016-11-08 21:34] theVKC commented on #314
changelog,vbs (see bottom for usage example, folks): https://github.com/MN-Script-Team/DHS-PRISM-Scripts/blob/master/utilities/changelog.vbs

[2016-11-16 01:01] theVKC commented on #314
Bump!

Can I get some feedback from users in two separate agencies showing that this is, in fact, working? It's in master branch across PRISM, not sure about MAXIS.

Perhaps @RoberT-1000 and @levesswe can test for Anoka, and @IlseFerris can confirm with Hennepin (if it's been at all deployed in master branch).

Alternatively, let's bring in @heatherallen: can you check this out in PRISM for Scott

[2016-11-16 02:05] theVKC opened #318 "Replace "navigate_to_XXXX_screen" with unified "navigate_to()" function"
Any thoughts from folks?

[2016-11-16 05:24] theVKC commented on #318
Syntax imagined:
* PRISM: `call navigate("CAAD")`
* MAXIS: `call navigate("STAT/MEMB")`

[2016-11-16 16:44] heatherallen commented on #314
@theVKC I am not getting the changelog updates, I opened the NOCS, Prorate Calculator, and MAXIS finder and none showed the changelog.

[2016-11-16 16:55] theVKC commented on #314
It's possible they haven't been edited since the last time you used it, perhaps it initialized that first time. Kelly just sent a change for ACTIONS - case transfer, how is that one?

[2016-11-16 16:56] theVKC opened #319 "Build dynamic array (and possibly display functions) for selecting any county in any state"
This could be quite helpful for Child Support. I imagine it'll be helpful elsewhere. On it.

[2016-11-16 16:59] heatherallen commented on #314
Still nothing :(

[2016-11-16 17:02] theVKC commented on #314
Well it's possible that you hadn't used it since we added the new functionality.

Can you go into your scripts-local-changelog-update.txt file (within your My Documents folder), and edit the case transfer entry to say "Initial version."? By doing that, I do believe it'll reset to make it appear you'd used the script before.

[2016-11-16 19:31] heatherallen commented on #314
When I went in to change it this was the text that was in the file after case transfer:
County, Office, Team and Position fields now have length requirements.
When I changed to Initial version, and I tried to run case transfer again no change log dialog popped up. (not sure if it should have if I was resetting it)

[2016-11-16 19:41] theVKC commented on #314
Hmmmm. Well, that tells me at least one thing. It's writing the file.

In any case, @MN-Script-Team/prism-wright has confirmed that this is working over here. So there's one agency.

[2016-11-16 19:57] theVKC commented on #314
@heatherallen: can you run the court prep worksheet script? Even if it doesn't work? Then, can you check the text file and see if it's there?

@RoberT-1000 is about to have a fix pushed out for it, so we can use that to test/confirm.

[2016-11-16 20:07] theVKC commented on #314
I just heard from Jackson/Cottonwood saying they are seeing the text file being created. I'm calling this one a day, folks.

@CDPotter, can you let me know when changelog functionality is fully deployed on the MAXIS side? You should probably make an issue for it already (if you haven't) and paste the URL to this issue into that issue (to create a dynamic link).

[2016-11-16 20:09] theVKC commented on #294
Can I get some testers for this new function?

@CDPotter, @courtrightd, @levesswe, @RoberT-1000, @IlseFerris, @C-Love? Any of you able to test this?

[2016-11-16 20:26] theVKC commented on #294
@khiestand has confirmed that this is working in Wright. Just one more independent agency and then I'll push it out.

[2016-11-16 20:33] heatherallen commented on #314
@theVKC I just ran it and no change log pop up and no change in the change log yet, it states initial version currently.

[2016-11-16 20:33] theVKC commented on #314
That's good. Now I'll push the new feature and then you can try again, and let me know if you see the box. Try again in 10 minutes or so?

[2016-11-17 19:42] theVKC commented on #294
@IlseFerris has confirmed it's working in Hennepin.

[2016-11-17 22:31] theVKC commented on #294
Hold up!

It apparently causes problems sometimes if one of the fields is a space. So, trying to writescreen a " " character may be causing a glitch, as viewed by @IlseFerris. I will investigate.

[2016-11-22 22:30] theVKC commented on #314
This should have closed due to multiple agencies reporting it's working. Nice job testing, folks.

[2016-11-22 22:30] #314 closed

[2016-11-23 23:08] theVKC commented on #305
This has been confirmed to be working. But, a FuncLib release is pending due to a few things. I suspect we'll address all of this at hackathon.

[2016-11-28 16:41] theVKC opened #321 "Piggyback on #294: write_date needs better space entry handling"
Basically, write_date is working well (and I'm pulling it in to let other stuff go into release), but it should also be modified to include handling for writing spaces. As tested by @IlseFerris, when spaces are included in the format (example: `MM DD YY`), it writes the spaces into an area without spaces, causing a glitch in MAXIS. This should be easy to fix.

@IlseFerris and @C-Love, would you be

[2016-11-28 16:53] #294 closed

[2016-11-28 16:53] #305 closed

[2016-11-28 16:54] theVKC commented on #241
Totally backburnered. If anyone wants to be the hero, I'm open to that. @RobertFewins-Kalb maybe?

[2016-11-28 16:55] theVKC commented on #260
Totally backburnered. Anyone still want it? If it stays backburnered for another couple of weeks I might close it. Anyone interested? @MN-Script-Team/funclib-scriptwriters?

[2016-11-28 16:56] theVKC commented on #318
Can I get feedback on this @MN-Script-Team/prism-scriptwriters @MN-Script-Team/funclib-scriptwriters @MN-Script-Team/maxis-scriptwriters?

[2016-11-28 16:59] CDPotter commented on #318
Seems like a good idea to me.

[2016-11-28 17:01] theVKC commented on #318
Also a thought, `navigate("STAT/MEMB")` vs `navigate_to("STAT/MEMB")`.

[2016-11-28 17:07] GayS commented on #318
I like the simplification!

[2016-11-28 18:32] C-Love commented on #318
I think this is a good idea. Also, MMIS...

[2016-11-28 19:08] theVKC commented on #318
@C-Love, @CDPotter, @GayS: what do you prefer, `navigate("screen")` or `navigate_to("screen")`. I think the latter might be easier for beginners to digest, so I lean toward that.

[2016-11-28 19:09] CDPotter commented on #318
I could see the value in the latter.

[2016-11-28 19:11] C-Love commented on #318
I defer to you on that, I don't think I have much of a preference on this part.

[2016-11-28 19:11] GayS commented on #318
I don't have a preference either.

[2016-11-28 19:12] IlseFerris commented on #318
I don't have a strong preference either, but love the idea of unifying the functions.

[2016-11-28 19:13] lpshanley commented on #318
With naming convention as long as its not taken “to far” like this_would_be_a_touch_to_long_for_a_function() I think generally more can be more.

I am a fan of navigate_to

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Gay Sikkink [mailto:notifications@github.com]
Sent: Monday, November 28, 2016 1:11 PM
To: MN-Script-Team/BZS-F

[2016-11-28 19:13] theVKC commented on #318
Yes! Agreed! We're going with `navigate_to()` and this is on. Anyone want to take it? I'm hoping to wrap it in the next week or so.

[2016-11-29 21:54] theVKC opened #323 "Possible issue on changelog_display: possibly not closing WScript.Shell"
We are getting reports of users getting a "permission denied" error for the changelog file.

Near the end of the function, a `set objTextStream = nothing` was used instead of `objTextStream.Close`. I am guessing this is the culprit, as it wouldn't explicitly close the file.

On it. @C-Love will coordinate a test at Ramsey.

[2016-11-29 21:57] theVKC commented on #323
Pulled in, @C-Love! Please test away!

[2016-11-29 21:59] C-Love commented on #323
On it. I think I actually have 2 testers. I will send them out an email and will make sure that they don't hit the error tomorrow and confirm on Thursday.

[2016-11-29 22:16] C-Love commented on #323
Ok - we have a good start. One of my testers was able to run his first script of the day. It required a restart but then his scripts worked.

[2016-12-07 22:06] theVKC commented on #318
I'm taking it.

[2016-12-08 19:17] theVKC opened #325 "Documentation: create the docstring process for FuncLib"
Basically: each function will have a commented parameter for:

1. The function purpose
2. Each parameter's definition

I'm imagining something like this:

[code]

Along with this, a new function (or perhaps a separate file) will be created for reading this back and formatting it in some way (HTML in all likelihood to make it easiest to read on multiple devices).

@IlseFerris and I are on it as par

[2016-12-08 19:33] IlseFerris opened #326 "add_BUSI_to_variable: remove outdated coding prior to 02/15"
`'Treats panels older than 02/15 with the old logic, because the panel was changed in 02/15. We'll remove this in August if all goes well.
	If datediff("d", "02/01/2015", BUSI_footer_month) < 0 then
		EMReadScreen BUSI_type, 2, 5, 37` ....

Changes to the BUSI panel occurred in 02/15. Presumably this is working, but needs to be removed from the function and tested.

[2016-12-08 20:20] theVKC commented on #325
Because @IlseFerris and I are gluttons for punishment, we're also adding searchable keywords to each function. So this is an example:

[code]

[2016-12-09 22:24] IlseFerris opened #333 "FUNCTION month_change: update docstring"
I believe this may have been used in NOTES - APPROVED PROGRAMS at one time, but since has been removed. @C-Love, @CDPotter @RoberT-1000 can anyone confirm?

[2016-12-09 22:32] RoberT-1000 commented on #333
That doesn't look like my code. I have no idea where that came from.

[2016-12-09 22:34] RoberT-1000 commented on #333
@C-Love? I see some MsgBox bling.

[2016-12-09 22:57] C-Love commented on #333
This is definitely my code... FSS Status Change uses it. (Though I think it is also defined there because I pulled that in first... or something)

I keep forgetting about this function.

[2016-12-11 18:14] theVKC commented on #323
This is now in release @C-Love. I'm going to close it for now. If the problem persists after restarts with release-branch users, let me know.

[2016-12-11 18:14] #323 closed

[2016-12-11 18:34] theVKC opened #337 "Is end_excel_and_script really needed anymore?"
It's still there. And it's not documented. Thinking I might dispose of it.

@C-Love? @IlseFerris? @CDPotter? @RoberT-1000?

[2016-12-12 13:16] RoberT-1000 commented on #337
Anoka will be OK without it.

[2016-12-12 14:21] IlseFerris commented on #337
Hennepin is good without it as well.

[2016-12-12 19:00] kaleykobber commented on #323
We are still experiencing issues. I will send an email to Veronica and Charles with a summary of the issues. Any effort to assist with troubleshooting this is greatly appreciated, it is affecting more of our users, and is limiting their access to scripts.

[2016-12-12 19:21] CDPotter commented on #337
I'm looking at it being used in CSES scrubber.

[2016-12-13 17:54] theVKC commented on #323
@kaleykobber, let's address this one offline. I am beginning to suspect a problem other than the script.

If any other counties are still running into issues, please please please say something so we can try and diagnose together.

Possible culprits:

1. Lack of access to the file
2. The file still isn't closing
3. Some problem in chain loading somewhere
4. API settings making two scripts run at t

[2016-12-13 17:54] theVKC commented on #337
But should it? CSES scrubber should leave the Excel open on close now, right?

[2016-12-13 18:35] CDPotter commented on #337
Looks like its used when case note isn't in production.

![image](https://cloud.githubusercontent.com/assets/7841989/21153502/56dee83a-c130-11e6-875b-662b3f85820e.png)

Since it's not invisible anymore we could probably just change it to one script end procedure and trust people to close their open excel window on their own.

I'm racking by brain trying to think of any other invisible excel files

[2016-12-13 18:51] kaleykobber commented on #323
Sounds good. Thanks!

[2016-12-13 20:58] theVKC opened #345 "Add sample FuncLib block to this repo, and shrink horizontally"
So, FuncLib block is well beyond the classic "80 col" limit for code blocks. This becomes problematic in documentation (although it functions just fine in practice). This repo is also missing one, which is sad.

So, I am going to add a sample FuncLib call, and tweak it ever-so-slightly to reduce its horizontal footprint so that it can be easily inserted into documents.

Working on this in conjunct

[2016-12-13 21:42] #345 closed

[2016-12-14 20:50] IlseFerris commented on #333
@C-Love, would you be willing to look at the comments/instructions for the function? I don't know if I did it justice.
Also we should keep this in the FuncLib if it's something we anticipate being used :)

[2016-12-14 23:30] theVKC commented on #333
@C-Love, I'd love it if you could modify that text to make sure it's clear why it's used.

[2017-01-10 21:52] IlseFerris opened #348 "Create functions for each ABAWD exclusion"
ABAWD FSET exclusion is in 3 scripts:
- ACTIONS - ABAWD FSET EXEMPTION CHECK
- BULK - BANKED MONTHS REPORT
- DAIL - ABAWD FSET EXEMPTION CHECK

Creating new functions for each ABAWD exclusion so that updates to scripts only need to occur once, and if scripts want to check for a specific exclusion in the future (see BULK - BANKED MONTHS REPORT) we can do both with ease.

Will additionally update th

[2017-01-17 15:00] levesswe commented on #277
Any update on this?  Users are still having issues with note scripts malfunctioning and I think this update would help.

[2017-01-17 16:11] theVKC commented on #277
We switched the process to be a new function called "write_variable" which encompasses all of the other functions. Unfortunately, recent events have sidelined much of the FuncLib work. Trying to wrap up some non-script-related things and then deep diving. I'm also working on getting the scripts favorites buttons alive and well.

[2017-01-17 16:17] levesswe commented on #277
OK, thanks!

[2017-01-19 20:13] C-Love opened #349 "Create Option so ChangeLog can be disabled in Global Variables"
Since we are having county specific issues with ChangeLog, we need an option to disable it to allow workers to continue to use scripts. Just and If - then in the function.

Pulling this in shortly

[2017-01-19 20:42] theVKC commented on #349
I'm fast-tracking this one because of the time-sensitive nature here. Since it's county specific, we'll do little testing.

When I pull this in, @C-Love, please check that master works as expected, and @IlseFerris, please check that master works as expected for you.

[2017-01-19 20:53] C-Love commented on #349
Yep - working fine - I can turn it on and off with the quick change of a Boolean

[2017-01-26 18:59] #349 closed

[2017-01-26 18:59] theVKC commented on #349
Resolved by #351 and #350.

[2017-01-27 21:32] IlseFerris opened #352 "ten_day_cutoff_check needs 2017 cut off dates"
Te19.132 has been updated to reflect the 2017 cut off dates (I only had to push a few times :)).

function now needs to be updated with this information. Assign to me.

[2017-01-30 19:09] theVKC commented on #352
@IlseFerris: is this causing a critical issue? Collecting this for statistics purposes.

[2017-01-30 19:22] IlseFerris commented on #352
The information that is input into case note would certainly be incorrect. Since this information can be tied to worker action (or lack thereof), I would call it critical.

[2017-01-30 19:22] theVKC commented on #352
Score one for critical. Thank you!

[2017-01-30 19:23] #352 closed

[2017-01-31 14:49] IlseFerris opened #355 "Create MS Outlook functions"
Pretty simple...create functions for creating an outlook appointment, a task and an email.

I'm working on this at my county, so this can get assigned to me.

[2017-01-31 15:43] theVKC commented on #355
Please do. I need this for PRISM. https://github.com/MN-Script-Team/DHS-PRISM-Scripts/issues/464 is pending for this very thing (although I might remove that script from primary use until this function is ready).

I'd be happy to be your tester for this. Thanks @IlseFerris!

[2017-02-14 16:46] theVKC opened #356 "Create functionality to determine MAXIS or PRISM use via globvar repo status"
This will allow MAXIS and PRISM to create separate functionality within the same function. This effects issues:

* #163
* #261
* #279
* #310
* #318
* #319

@C-Love has volunteered. Thank you!

[2017-02-14 16:52] theVKC commented on #241
Closing due to lack of interest.

[2017-02-14 16:52] #241 closed

[2017-02-14 16:56] #260 closed

[2017-02-14 16:57] #261 closed

[2017-02-14 17:05] theVKC commented on #310
OK, so @C-Love , @IlseFerris, and I have been talking today about this function (at hackathon) and how it relates to #277. We believe that this resolves the bug in #277 and also could be simpler to use: we could easily work in the bullet functionality with a blank variable:

`call write_variable("Here's some text", "Here's a bullet text")`

It will need to read the screen you're on to determine pr

[2017-02-14 17:05] theVKC commented on #277
It's official: #310 should resolve this. Closing.

[2017-02-14 17:05] #277 closed

[2017-02-14 17:06] theVKC commented on #279
Marking this as a sleeper and closing it. @CDPotter has left the agency.

[2017-02-14 17:06] #279 closed

[2017-02-14 17:07] theVKC commented on #318
Marking as a sleeper, no idea when we can wrap this.

[2017-02-14 17:07] #318 closed

[2017-02-14 17:38] theVKC commented on #321
I'll be working on this, not @C-Love or @IlseFerris, but they will be testing.

[2017-02-14 18:41] theVKC commented on #337
Because @CDPotter has left and MAXIS is unsupported, I'm closing this issue.

[2017-02-22 20:49] C-Love opened #357 "Bug on Autofill Editbox for MAXIS for ABPS when double space"
We found a little bug - not sure if we need to fix or just be aware. If there are 2 spaces in a ABPS name in MAXIS, the script errors out because of splitting. It prevents the script from running.

That said, I have never seen this actually come up until now.

[2017-02-27 15:53] theVKC commented on #357
Weird. Want to take it, @C-Love?

[2017-02-28 16:58] #337 closed

[2017-02-28 19:16] theVKC opened #358 "Load windows_user_ID somewhere in FuncLib"
It would be really helpful to @C-Love if this pre-loaded somewhere in FuncLib... it used to in GlobVar but somehow that got lost.

@C-Love, would you care to do this one?

[2017-02-28 20:52] #355 closed

[2017-02-28 23:57] theVKC commented on #358
@C-Love: pulled in. Care to investigate if it's working as expected in master?

[2017-03-06 18:07] IlseFerris opened #361 "Script_end_procedure enhancement: Allow counties to collect case number in stats"
Hennepin County Program managers have requested that functionality to add case number to our stats database. We have determined that all scripts that are not UTILITIES or BULK scripts will collect case number.  If the users global variables are set up in the following manner, case number will be collected:

1. collecting_statistics = true
2. STATS_enhanced_db = true
3. collect_case_number = true (

[2017-03-09 19:30] #361 closed

[2017-03-09 19:32] theVKC commented on #358
This is now live.

[2017-03-09 19:32] #358 closed

[2017-03-09 22:43] IlseFerris opened #364 "Enhance function change_client_name_to_FML(client_name) to search for names without a space as well"
Currently this is support if the client name is last_name, first_name but names in MAXIS REPT functions especially do not have spaces.

Assign to me to complete

[2017-03-10 14:16] IlseFerris opened #365 "Retire function new_page_check()"
This script is not used in any functions or any MAXIS script, and I believe is not applicable for PRISM. Can I get feedback from @MN-Script-Team/funclib-scriptwriters?

Assign to me.

[2017-03-10 14:19] IlseFerris opened #366 "Function write_value_and_transmit update to remove MAXIS variables"
This function can also be used in PRISM. Remove MAXIS_row/MAXIS_col, replace with row/col and add PRISM to the key words.

Assign to me.

[2017-03-10 14:20] IlseFerris opened #367 "Function navigate_to_MAXIS_screen(...) is not in alpha order"
Assign to me to clean up.

[2017-03-16 13:16] MiKaylaH22 opened #369 "Enhancement - PowerPad - CASE/PERS navigation button to be added to powerpad"
Family workers use this navigation heavily. Also when a case is to be appl'd it can help reduce the amount of duplicate PMI's being issued.

[2017-03-16 18:53] theVKC opened #370 "Make a function that strips letters off the right side of a variable"
So something like `right_cut(variable, 1)`. So it would act like this:

[code]

This would turn "Hey there!" into "Hey there".

Could be used to strip commas and other things.

[2017-03-21 20:56] theVKC opened #371 "Capture our "JOLT Method" from today's hackathon"
@C-Love and I worked on hackathon methodology today, and it was VERY successful. After applying the process, we've decided to document it so that it can be used in future hackathons. I'll be emailing people before hackathon with more details, but we want to get the documentation on GitHub ASAP.

Yay!

[2017-03-21 21:29] #371 closed

[2017-03-23 18:04] #369 closed

[2017-03-23 19:20] KyleNelson-Hennepin opened #372 "Function Prism_case_number_validation does not validate case numbers with "." or a space"
While trying out the Notes/E-Filing script, I noticed an issue where the script wouldn't work if I entered a case number in manually.

I looked at it with @IlseFerris today and we determined it was an issue with the Prism_case_number_validation function. The function only returns a case number as valid if it's formatted with a dash between numbers.

This works for when the case number is obtained

[2017-03-23 20:07] C-Love opened #373 "BUG in navigate_to_MAXIS_screen - searching for 'function'"
Navigate_to_MAXIS_screen uses EMSearch to find the MAXIS Function of the current MAXIS screen we are currently on. This will prevent the script from going out to SELF if we are navigating within the same function area.

The search term was changed to 'function: " BUT the MAXIS screen always has 'Function: ".

This is severely breaking the training case creator. I am updating.

[2017-03-27 19:56] KyleNelson-Hennepin commented on #372
Ok, never mind - I'll close the issue. That script was one of the first scripts I reviewed - after reviewing several more it looks like most or all scripts are written assuming the case number has the dash. It looks like most scripts tell the user that the case number should be formatted xxxxxxxxxx-xx either in the dialog box or in an error message if it's not formatted that way.

[2017-03-28 17:45] theVKC opened #375 "Build function (or web tool on GitHub) to check syntax for style and formatting"
This one's a dream. A backlogged dream, but no less a dream.

I'd like the ability to have scriptwriters check their own syntax for:
* Indenting
* White space overuse/underuse
* COMMENTS
* Stats block accuracy
* File name format accuracy
* More

Right now, I evaluate this manually, as do scriptwriters. This is good, but a tool to help scriptwriters evaluate it, especially newer scriptwriters, woul

[2017-03-28 17:49] #367 closed

[2017-03-28 17:49] #364 closed

[2017-03-28 17:49] #365 closed

[2017-03-28 17:49] #366 closed

[2017-03-28 17:53] theVKC commented on #369
You may have noticed this (I assume that's why it's closed), but FuncLib isn't the right place for this MAXIS-specific issue. :)

[2017-03-28 17:54] theVKC commented on #369
(Entered here publicly in case future scriptwriters stumble on a similar dilemma.)

[2017-03-28 17:55] theVKC commented on #373
@C-Love: please see my comment on #374. Your pull is causing a merge conflict. Wah wahhhhh.

[2017-03-28 17:58] theVKC commented on #372
You know what though, @KyleNelson-Hennepin?

I could see value in modifying this to allow for the conversion of a space or period into a dash for use in scripts... @gretchent74 and I just talked about that and felt it might be valuable. Would you be at all interested in submitting an enhancement to the function that allows for this? Could be a good opportunity to get FuncLib experience! :)

[2017-03-28 18:15] KyleNelson-Hennepin commented on #372
Sure I can do that. I'm working with @IlseFerris on Thursday, so I'll work on it then. I definitely need some experience to get used to how this whole process works, and this seems like it would probably be a good easy-ish project for me to take on.

To help me when I go to work on this on Thursday, and to make sure I'm understanding correctly, is this correct?:

The Prism_case_number_validation f

[2017-03-28 18:45] theVKC commented on #372
Yes, and... :)

I would also suggest having it instead modify the space or period to have a dash, this way it's used evenly across function. The `replace()` function should handle that nicely.

[2017-03-28 20:24] CDPotter commented on #310
Just adding that we ran into a bug today when running NOTES - Arrears management review. It seemed to happen when we reached the end of the writing area on the CAAD note which caused the function to continue to new line and write the rest of the note over the top of the screen and beyond.

[2017-03-28 20:34] CDPotter commented on #310
Also I was able to instantly replicate it by trying to write a giant gibberish variable with no spaces.

[2017-03-28 21:12] theVKC commented on #310
Well that will always do it. :P

This is on the radar but not a present issue at the moment. If you want up on it, feel free to take it, otherwise it remains on my backlog.

[2017-03-30 19:01] #373 closed

[2017-03-30 21:15] C-Love commented on #373
I've tested this in master and it appears to fix all my Training Case Creator and Nav problems! Woohoo! Good to go to release.

[2017-04-03 14:23] courtrightd opened #378 "Bug with Returned Mail WCOM"
Two issues, the dialog loop checks for worker sig, but there isn't a space for one in the dialog (it works if there is a saved worker sig on the user's computer). It also needs handling for multiple recipient memos (such as an AREP), which have an extra screen after PF9.

[2017-04-03 14:24] theVKC commented on #378
FuncLib on this?

[2017-04-03 14:25] courtrightd commented on #378
Oops - nope, wrong issue list.  Sorry.

[2017-04-03 14:25] #378 closed

[2017-04-03 14:25] theVKC commented on #378
No worries. :)

[2017-04-05 16:47] IlseFerris opened #379 "Function for Sending a SPEC/MEMO to all applicable recipients in MAXIS"
This is code we use repeatedly in NOTICES scripts. Makes sense that it's a function:

![image](https://cloud.githubusercontent.com/assets/10836829/24716715/84f1cf4e-19f5-11e7-9d43-cddb7a97c59c.png)

I can take this, or @courtrightd said he may be interested at some point adding this.

[2017-04-05 18:24] theVKC commented on #379
ETA @IlseFerris or @courtrightd?

[2017-04-06 13:43] theVKC commented on #372
Pulled in, @KyleNelson-Hennepin! Welcome to your first commit!

Now we test. This is a minor enhancement, so I don't think it would need much. @KyleNelson-Hennepin, in a few minutes, you should see this change reflected in the master branch.

I'm going to say we should have an additional tester in another agency for safe confirmation. @levesswe, can you have someone in Anoka check to see if any ma

[2017-04-06 14:28] levesswe commented on #372
I tested a few scripts and this fix works dandy!   Dashes, periods, or spaces, it worked like a charm.  Thanks! :)

[2017-04-06 14:37] theVKC commented on #372
Good deal! @KyleNelson-Hennepin: since you don't have a complete formal test team at Hennepin, I'm going to call this one complete given @levesswe's quick review.

Nice job gang! What a great first commit, @KyleNelson-Hennepin! You're a very welcome addition to the team. :)

[2017-04-06 14:37] #372 closed

[2017-04-06 15:53] IlseFerris commented on #372
@KyleNelson-Hennepin  for the win!

[2017-04-06 16:10] IlseFerris commented on #379
@courtrightd do you want this? I can take it otherwise.

[2017-04-06 16:11] courtrightd commented on #379
You can have it if you want, I've got plenty of other stuff to knock out here.

[2017-04-06 16:18] IlseFerris commented on #379
Sounds good. Assign to me. I'll get it done at the Ramsey Hackathon next week.

[2017-04-19 19:47] theVKC opened #382 "Statistics: apparently SQLite works too instead of Access..."
Cool discovery which could be exceptionally helpful!

[code]

If SQLite's binary is present in the databases folder (or anywhere really), standard SQL can be used to pass BlueZone Scripts content to a SQL table. This does NOT require any software installed (unlike the current situation which uses Access or SQL Server). With this, I could build a simple HTML interface to let supervisors see the con

[2017-04-19 20:15] theVKC opened #383 "run_from_github: replace `execute` with `executeglobal`"
So see https://github.com/MN-Script-Team/DHS-PRISM-Scripts/issues/636 for a description. Basically, classes defined in one script don't carry to another.

This could introduce bugs elsewhere, but I'm thinking we're probably OK (I'd be more worried about it if chain loading was happening wide scale). Even so, be on the lookout for odd behavior from main menu scripts @MN-Script-Team/maxis-scriptwrit

[2017-04-19 20:49] theVKC commented on #383
If there are issues stemming from this, they should be apparent very quickly. If it goes a day or two without major errors, I'm going to call it complete.

[2017-04-20 13:23] IlseFerris commented on #382
This is really awesome! Might be something @KyleNelson-Hennepin may be interested in using/testing until CS goes lives on SQL.

[2017-04-25 20:46] KyleNelson-Hennepin commented on #382
I really need to spend most of my time reviewing scripts and doing what I can to prepare to roll out the state scripts for Hennepin workers, so I don't think I'll have any time for this unfortunately.

Sounds cool though! I'm all for doing what we can to make things easier to implement! :-)

[2017-04-28 15:55] KyleNelson-Hennepin opened #385 "Navigate_to_PRISM function doesn't work if F1'd into a PRISM submenu"
The navigate_to_PRISM function doesn't work if the user is F1'd into a PRISM submenu (such as CALI's Caseload Position List, or the Case Search Help Routine if you F1 on a case number field). The function doesn't work because PRISM doesn't allow you enter data into the direct command line or to navigate between screens while you're F1'd in a submenu.

This was a concern for the BULK/list generator

[2017-05-02 16:36] theVKC commented on #385
I think it's a great idea, and was always intended for this. :)

[2017-05-04 17:01] KyleNelson-Hennepin commented on #385
Cool - I got the code written up, will double-check it today, planning on submitting the pull request tomorrow (Friday).

It's essentially this:
Do
Try to navigate to CAAD (or CAST if we were already on CAAD)
Check to see if we went to CAAD (or CAST if we were on CAAD)
If not, PF3 and start the loop over
Loop until we see that we navigated to CAAD (or CAST if we were on CAAD)
Then actually navigat

[2017-05-11 21:40] KyleNelson-Hennepin opened #387 "BUG: check_for_PRISM function not working correctly if passworded out"
In the following situation, the check_for_PRISM function runs into a problem:

- PRISM is open in BlueZone
- PRISM is passworded out
- PRISM is not yet at the password screen because neither the user nor the script has taken an action yet

In this situation, the script will see that PRISM is open in BlueZone, and will think that everything is great and the script can continue. However, when the sc

[2017-05-25 19:51] KyleNelson-Hennepin opened #388 "Script_end_procedure enhancement: Fix scripts issue w/ ESSO password manager software"
Many Hennepin County PRISM & MAXIS workers use password manager software called ESSO. ESSO is always on, running in the background. If you run a script while ESSO is running (in the background), most scripts will pause and not work correctly.

To get around this, we currently instruct users to manually pause or shut down ESSO before running scripts. However, @IlseFerris and I have written some cod

[2017-05-25 21:03] KyleNelson-Hennepin commented on #388
Done - see pull request #389

[2017-05-25 21:07] KyleNelson-Hennepin commented on #387
I haven't heard anything back on this, so I'll plan on leaving it & maybe doing it after the PRISM/FuncLib freeze is over.

[2017-08-10 16:58] theVKC opened #391 "Create new function for parsing/writing TOML-like configs"
Currently, we use two primary configuration points in the project:

* GlobVar, which defines variables for a county
* "Complete List of Scripts", which defines names and descriptions for each script

Both files use VBScript syntax, which means all code in these files is executed. Hence, they aren't functioning as a "configuration" as much as like a "library". This could have security ramifications

[2017-08-15 22:35] IlseFerris opened #392 "CREATE_OUTLOOK_APPOINTMENT bug: appointment reminder only working in FALSE"
Bug in option to set the appt_reminder to TRUE. Currently users are only able to set this to FALSE due to the appt_reminder variable in the TRUE statement.

Assign to me. Testing the fix locally has been successful.

![image](https://user-images.githubusercontent.com/10836829/29339502-0f045ab0-81e0-11e7-986d-d22dcf068cb8.png)

[2017-11-06 22:47] theVKC commented on #392
Getting around to FuncLib now!

@IlseFerris, any update on this? Is it working? Want to pull it in?

[2017-11-07 13:16] IlseFerris commented on #392
It's working, and I'll pull it in.

[2017-11-20 18:36] theVKC commented on #392
Issue falsely closed. @IlseFerris: I think we should stop saying "resolved #X" until it's ready for release. It keeps closing issues before we've tested.

Pull request in: can we test?

[2017-12-29 21:06] IlseFerris commented on #379
I just tested this function by adding it into a local version of DAIL - FMED DEDUCTION that I am testing. Working well. Thank you @C-Love!

[2017-12-29 21:32] theVKC commented on #379
Thank you for testing, @IlseFerris!

@C-Love, I'm pulling this in now. Please let me know if it's working in master (once the pull request is done) and I'll pull it into release.

[2017-12-29 21:57] IlseFerris commented on #379
Tested in master by adding function into a script, and running it locally. Worked perfectly!

[2017-12-29 22:02] C-Love commented on #379
Tested in master as well. Working as expected.

[2017-12-29 22:06] #379 closed

[2017-12-29 22:06] #383 closed

[2017-12-29 22:06] #392 closed

[2018-01-05 19:26] IlseFerris commented on #388
I've also tested this code for users with and without ESSO. Working as intended. Please accept this pull request.

[2018-01-05 19:30] IlseFerris opened #397 "Training Case Creator function write_panel_to_MAXIS_JOBS bug: needs verif column update"
This is associated with MAXIS scripts issue #2999. Column for income type and jobs verification codes changed 10/16. Coding that was added at the time doesn't account for years that are not 2016 or 2017.

Assign this issue to me.

[2018-01-05 19:43] IlseFerris opened #398 "ADD_JOBS_TO_VARIABLE function for JOBS bug: needs verif column update"
Associated with issue #397

This is associated with MAXIS scripts issue #2999. Column for income type and jobs verification codes changed 10/16. Coding that was added at the time doesn't account for years that are not 2016 or 2017.

Assign this issue to me.

[2018-01-17 16:56] C-Love commented on #398
The function write_panel_to_MAXIS_JOBS also needs the columns updated.

I will take this.

[2018-01-17 17:02] theVKC commented on #397
Any update @IlseFerris?

[2018-02-12 15:47] theVKC commented on #397
Can I get confirmation that these are working in master branch @IlseFerris?

[2018-02-12 15:47] theVKC commented on #398
Can I get confirmation that these are working in master branch @IlseFerris?

[2018-02-12 16:35] C-Love commented on #398
Both of these functions are working wonderfully in MASTER now.

[2018-02-12 17:03] #397 closed

[2018-02-12 17:04] theVKC commented on #397
Confirmed by @C-Love to be working!

[2018-02-12 17:04] #398 closed

[2018-02-12 17:04] theVKC commented on #398
Pushed to release.

[2018-02-12 17:05] theVKC commented on #163
Obsoleted by the Win10 craziness.

[2018-02-12 17:05] #163 closed

[2018-02-12 17:07] #234 closed

[2018-02-12 17:07] #278 closed

[2018-02-12 17:07] #310 closed

[2018-02-12 17:07] #319 closed

[2018-02-12 17:07] #321 closed

[2018-02-12 17:07] #325 closed

[2018-02-12 17:07] #370 closed

[2018-02-12 17:07] #375 closed

[2018-02-12 17:07] #382 closed

[2018-02-12 17:07] #391 closed

[2018-02-12 17:08] #326 closed

[2018-02-12 17:08] #333 closed

[2018-02-12 17:08] #348 closed

[2018-02-12 17:08] #356 closed

[2018-02-12 17:08] #357 closed

[2018-02-12 17:08] #385 closed

[2018-02-12 17:08] #387 closed

[2018-02-28 17:17] IlseFerris commented on #388
Can we reopen this? We've tested this, and it would greatly beneficial to our users. Thank you!

[2018-02-28 20:41] theVKC commented on #388
@IlseFerris: reopened. Can you review the pull request #390 and mark it as approved?

[2018-03-02 18:03] #388 closed